@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica.eot');
    src: url('Helvetica.eot?#iefix') format('embedded-opentype'),
         url('Helvetica.woff2') format('woff2'),
         url('Helvetica.woff') format('woff'),
         url('Helvetica.ttf') format('truetype'),
         url('Helvetica.svg#Helvetica') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h5 {
	font-family: Helvetica;
	font-style: italic;
	font-weight: lighter;
	color: #999;
	text-align: center;
}

h1 {
	margin-top: 10%;
	margin-bottom: 0px;
	font-size: 10em;
	line-height: 1em;
	padding: 0px;
}

h5 {
	font-size: 2em;
	margin-top: 1em;
}

a {
	margin-left: 45%;
	font-family: Helvetica;
	color: #1697CB;
	font-size: 1.5em;
}