#mf_content article {
	padding: 20px;
	background-color: #FFF;
	border: 1px solid #D8D8D8;
	border-radius: 3px;
	font-family: "Segoe UI", Roboto, Helvetica, "Microsoft YaHei", "微软雅黑", "STHeiti", "SimSun", "宋体";
}

article h1 {
	color: #262626;
	font-size: 2.4rem;
	font-weight: 100;
	margin: 0 0 0.5em 0;
}

article p {
	color: #262626;
    font-size: 1.4rem;
	line-height: 1.8em;
	font-weight: 100;
	margin: 0.2em 0;
}

article ul li{
    list-style: circle;
    color: #262626;
    font-size: 1.4rem;
	line-height: 1.8em;
	font-weight: 100;
}

#copyright {
	margin-top: 50px;
    text-align: center;
}

#copyright a {
	color: #007EB8;
	text-decoration: none;
	font-weight: 100;
}

@media all and (max-width: 360px) {
    article h1 {
        font-size: 2.6rem;
    }
    article p,
    article ul li{
        font-size: 1.2rem;
    }
}