article {
	padding: 0 15px 40px;
	background-color: #FFF;
	border: 1px solid #D8D8D8;
	border-radius: 4px;
}

article h1 {
	color: #666;
	font-size: 36px;
	font-weight: 300;
	line-height: 1;
	margin-top: 1.5em;
	margin-bottom: .5em;
}

article p {
	color: #666;
    font-size: 16px;
    font-weight: 300;
	line-height: 1.5;
	margin-top: 0;
	margin-bottom: .75em;
}

article ul li{
    list-style: circle;
    color: #666;
    font-size: 16px;
	font-weight: 300;
	line-height: 1.8;
}