/* Setups */

@font-face {
    font-family: 'SourceCodePro';
    src: url('../font/SourceCodePro/SourceCodePro-Regular.eot');
    src: url('../font/SourceCodePro/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../font/SourceCodePro/SourceCodePro-Regular.woff2') format('woff2'),
         url('../font/SourceCodePro/SourceCodePro-Regular.woff') format('woff'),
         url('../font/SourceCodePro/SourceCodePro-Regular.ttf') format('truetype'),
         url('../font/SourceCodePro/SourceCodePro-Regular.svg#SourceCodePro') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ========== Article ========== */

#mf_content article {
	padding: 20px;
	background-color: #FFF;
	border: 1px solid #D8D8D8;
	border-radius: 3px;
}

article h1 {
	color: #262626;
	font-size: 3.3rem;
	font-weight: 100;
	margin: 0 0 0.5em 0;
	font-family: "Microsoft YaHei", "微软雅黑", "STHeiti", "SimSun", "宋体";
}

article p {
	color: #262626;
    font-size: 1.4rem;
	font-family: Roboto, Helvetica, "Microsoft YaHei", "微软雅黑", "STHeiti", "SimSun", "宋体";
	line-height: 1.8em;
	font-weight: 100;
	margin: 0.2em 0;
}

#copyright {
	font-family: Roboto;
	color: #999;
	font-size: 1rem;
	margin-top: 50px;
	font-weight: 100;
}

#copyright a {
	color: #007EB8;
	text-decoration: none;
	font-weight: 100;
}

@media all and (max-width: 360px) {
    article h1 {
        font-size: 2.6rem;
    }
    article p {
        font-size: 1.2rem;
    }
}