/* Setups */

@font-face {
    font-family: 'SourceCodePro';
    src: url('../font/SourceCodePro/SourceCodePro-Regular.eot');
    src: url('../font/SourceCodePro/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../font/SourceCodePro/SourceCodePro-Regular.woff2') format('woff2'),
         url('../font/SourceCodePro/SourceCodePro-Regular.woff') format('woff'),
         url('../font/SourceCodePro/SourceCodePro-Regular.ttf') format('truetype'),
         url('../font/SourceCodePro/SourceCodePro-Regular.svg#SourceCodePro') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ========== Article ========== */

article {
	padding: 0 15px 40px;
	background-color: #FFF;
	border: 1px solid #D8D8D8;
	border-radius: 4px;
}

article h1 {
	color: #666;
	font-size: 36px;
	font-weight: 300;
	line-height: 1;
	margin-top: 1.5em;
	margin-bottom: .5em;
}

article h2 {
	color: #666;
	font-size: 26px;
	font-weight: 300;
	line-height: 1;
	margin-top: 1.5em;
	margin-bottom: .8em;
}

article h3{
	color: #666;
	font-size: 20px;
	font-weight: 300;
	line-height: 1;
	margin-top: 1.5em;
	margin-bottom: .5em;
}

article div.time {
	color: #999;
	font-size: 20px;
	font-weight: 100;
	line-height: 1;
	margin: 0.5em 0 0 0;
}

article p {
	color: #666;
    font-size: 16px;
    font-weight: 300;
	line-height: 1.5;
	margin-top: 0;
	margin-bottom: .75em;
}

article span.code {
    font-size: 0.8em;
    font-weight: 300;
    color: #FFF;
	background-color: #444;
	border-radius: 2px;
	font-family: 'SourceCodePro';
	padding: 0.1em 0.5em;
	margin: 0 0.5em;
}

article h3 span.code {
	padding: 0.1em 0.3em;
	margin: 0 0.3em;
}

article a {
	color: #007EB8;
	text-decoration: none;
    font-size: 16px;
	font-weight: 300;
	word-wrap: break-word;
}

article p a {
	padding: 0.1em 0.5em;
}

article a:hover {
    text-decoration: underline;
}

article a.reference{
	font-weight: 700;
}

article ul {
	list-style: circle;
	padding-left: 30px;
	margin: 1em 0;
}

article ol {
	padding-left: 30px;
	margin: 1em 0;
}

article ul li,
article ol li {
	font-size: 16px;
	font-weight: 100;
	line-height: 1.8;
    color: #666;
}

article div.tablewapper {
	overflow-x: scroll;
	width: 100%;
}

article table {
	overflow-x: scroll;
}

article table tr:nth-child(odd) {
	background-color: #EEE;
}

article table tr:nth-child(even) {
	background-color: #DDD;
}

article table td {
    font-size: 16px;
	padding: 1em;
	margin: 0;
	word-wrap: normal;
}

article table td a {
	padding: 0;
}

.titleBanner{
	height: 300px;
	margin: 20px 0;
	background-color: #EEE;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
	border-radius: 4px;
	padding: 0;
}

img {
	max-width: 100%;
}

/* 1024 x 512 px*/

#tik-tok-color .titleBanner {
	background-image: url(../img/banner/tiktokcolor.jpg);
}

#stack-calculator .titleBanner {
	background-image: url(../img/banner/stackcalculator.jpg);
}

#substring .titleBanner {
	background-image: url(../img/banner/substring.jpg);
}

#latex-with-sublimetext .titleBanner {
	background-image: url(../img/banner/latexwithsublimetext.jpg);
}

#miui-icon-cache .titleBanner {
	background-image: url(../img/banner/miuiiconcache.jpg);
}

#css3-mooncake .titleBanner {
	background-image: url(../img/banner/css3mooncake.jpg);
}

#es6-daily-01-intro .titleBanner,
#es6-daily-02-let-and-const .titleBanner,
#es6-daily-03-destructuring .titleBanner,
#es6-daily-04-babel .titleBanner,
#es6-daily-05-string .titleBanner,
#es6-daily-06-regexp .titleBanner,
#es6-daily-07-value .titleBanner,
#es6-daily-08-array .titleBanner,
#es6-daily-09-function .titleBanner,
#es6-daily-10-object .titleBanner {
    background-image: url(../img/banner/es6daily.jpg);
}

#elevator .titleBanner {
	background-image: url(../img/banner/elevator.jpg);
}

#jsonp .titleBanner {
	background-image: url(../img/banner/jsonp.jpg);
}

#written-on-the-last-day-of-2016 .titleBanner {
	/* background-image: url(../img/banner/jsonp.jpg); */
}

#buttons {
	text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 20px;
}

#buttons a {
	color: #FFF;
	background-color: #007EB8;
	border-radius: 4px;
	padding: 10px 20px;
	margin: 0 10px;
	font-weight: 100;
}

#buttons a:hover {
	color: #FFF;
	background-color: #57AAD0;
}


#buttons a:active {
	color: #FFF;
	background-color: #005D87;
}

pre {
    position: relative;
	background-color: #F6F6F6;
	margin-bottom: 1em;
    overflow: hidden;
}

code {
	font-family: 'SourceCodePro', Consolas;
	color: #262626;
    padding: 12px 24px;
    font-size: 14px;
    line-height: 1.5;
	overflow-x: auto;
    overflow-y: hidden;
}

code span {
	font-family: 'SourceCodePro', Consolas;
    font-size: 14px;
    line-height: 1.5;
}

code.has-line-number {
    padding-left: 40px;
}

ul.line-number {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    background-color: #23241F;
    padding: 6px 6px 12px;
    text-align: right;
    color: #AAA;
    margin: 0;
    font-family: SourceCodePro;
}

ul.line-number li {
    font-size: 14px;
    line-height: 1.5;
    color: #FFF;
    font-family: SourceCodePro;
}

strong {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/* Styles for mobile device */
/* 1024+ is for PC and above, considering scrollbar */
@media all and (max-width: 1024px) {}

@media all and (max-width: 768px) {
    
	.titleBanner {
		height: 160px;
	}
}

@media all and (max-width: 360px) {
    
	.titleBanner {
		height: 120px;
        margin-top: 16px;
	}

	#buttons a {
		margin: 0 5px;
		padding: 6px 12px;
		font-size: 0.8em;
	}
    
}
