/* Setups */

@font-face {
    font-family: 'SourceCodePro';
    src: url('../font/SourceCodePro/SourceCodePro-Regular.eot');
    src: url('../font/SourceCodePro/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../font/SourceCodePro/SourceCodePro-Regular.woff2') format('woff2'),
         url('../font/SourceCodePro/SourceCodePro-Regular.woff') format('woff'),
         url('../font/SourceCodePro/SourceCodePro-Regular.ttf') format('truetype'),
         url('../font/SourceCodePro/SourceCodePro-Regular.svg#SourceCodePro') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ========== Article ========== */

#mf_content article {
	padding: 30px 20px;
	background-color: #FFF;
	border: 1px solid #D8D8D8;
	border-radius: 3px;
}

article h1 {
	color: #262626;
	font-size: 2.5em;
	font-weight: 100;
	margin: 0;
	font-family: Roboto, Helvetica, "Microsoft YaHei", "微软雅黑", "STHeiti", "SimSun", "宋体";
}

article h2 {
	color: #262626;
	font-family: Roboto, Helvetica, "Microsoft YaHei", "微软雅黑", "STHeiti", "SimSun", "宋体";
	font-weight: 400;
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-size: 2em;
}

article h3{
	color: #262626;
	font-size: 1.5em;
	font-weight: 400;
	margin: 1.3em 0 0 0;
	font-family: Roboto, Helvetica, "Microsoft YaHei", "微软雅黑", "STHeiti", "SimSun", "宋体";
}

article div.time{
	color: #999;
	font-size: 1.5em;
	font-weight: 100;
	margin: 0.5em 0 0 0;
	font-family: Roboto, Helvetica, "Microsoft YaHei", "微软雅黑", "STHeiti", "SimSun", "宋体";
}

article p {
	color: #262626;
	font-family: Roboto, Helvetica, "Microsoft YaHei", "微软雅黑", "STHeiti", "SimSun", "宋体";
	font-weight: 100;
	line-height: 1.8em;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

article p span.code {
	padding: 0.1em 0.5em;
	margin: 0.5em;
	background-color: #EEE;
	border-radius: 4px;
	font-weight: 400;
	box-shadow: inset 1px 1px 1px #BBB;
	font-family: SourceCodePro;
}

article h3 span.code {
	padding: 0.1em 0.3em;
	margin: 0 0.3em;
	background-color: #EEE;
	border-radius: 4px;
	font-weight: 400;
	box-shadow: inset 1px 1px 1px #BBB;
	font-family: SourceCodePro;
}

article a {
	color: #007EB8;
	text-decoration: none;
	font-weight: 400;
	font-family: Roboto, Helvetica, "Microsoft YaHei", "微软雅黑", "STHeiti", "SimSun", "宋体";
	padding: 0.1em 0.5em;
	word-wrap: break-word;
}

article a.reference{
	padding: 0;
	font-weight: 700;
}

article ul {
	list-style: none;
	padding-left: 30px;
	margin: 0;
}

article ul li {
	font-size: 1.2em;
	line-height: 1.5em;
	font-family: Roboto, Helvetica, "Microsoft YaHei", "微软雅黑", "STHeiti", "SimSun", "宋体";
	font-size: 1em;
	font-weight: 100;
}

article ol {
	padding-left: 30px;
	margin: 0;
	margin-left: 20px;
}

article ol li {
	font-size: 1.2em;
	line-height: 1.5em;
	font-family: Roboto, Helvetica, "Microsoft YaHei", "微软雅黑", "STHeiti", "SimSun", "宋体";
	font-size: 1em;
	font-weight: 100;
}

article div.tablewapper {
	overflow-x: scroll;
	width: 100%;
}

article table {
	font-family: Roboto, Helvetica, "Microsoft YaHei", "微软雅黑", "STHeiti", "SimSun", "宋体";
	overflow-x: scroll;
}

article table tr:nth-child(odd) {
	background-color: #EEE;
}

article table tr:nth-child(even) {
	background-color: #DDD;
}

article table td {
	padding: 1em;
	margin: 0;
	word-wrap: normal;
}

article table td a {
	padding: 0;
}

.titleBanner{
	height: 300px;
	margin-top: 20px;
	margin-right: 0;
	margin-bottom: 40px;
	background-color: #EEE;
	background-size: cover;
	background-position: 50%;
	border-radius: 3px;
	padding: 0;
}

/* 1024 x 512 px*/

#tiktokcolor .titleBanner {
	background-image: url(../img/tiktokcolor.jpg);
}

#stackcalculator .titleBanner {
	background-image: url(../img/stackcalculator.jpg);
}

#substring .titleBanner {
	background-image: url(../img/substring.jpg);
}

#latexwithsublimetext .titleBanner {
	background-image: url(../img/latexwithsublimetext.jpg);
}

#miuiiconcache .titleBanner {
	background-image: url(../img/miuiiconcache.jpg);
}

#css3mooncake .titleBanner {
	background-image: url(../img/css3mooncake.jpg);
}

#buttons {
	text-align: center;
}

#buttons a {
	color: #FFF;
	background-color: #007EB8;
	border-radius: 4px;
	padding: 10px 20px;
	margin: 0 10px;
	font-weight: 100;
}

#buttons a:hover {
	color: #FFF;
	background-color: #57AAD0;
}


#buttons a:active {
	color: #FFF;
	background-color: #005D87;
}

pre {
	border-left: 4px solid #007EB8;
	background-color: #F6F6F6;
	padding-left: 1em;
	padding-right: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1em;
	/*overflow-x: scroll;*/
	overflow-x: auto;
}

code {
	font-family: SourceCodePro, Consolas;
	color: #262626;
}

@media all and (max-width: 480px) {
	.titleBanner {
		height: 160px;
	}

	article h1 {
		font-size: 2em;
	}

	article h2 {
		font-size: 1.6em;
	}

	pre {
		margin-left: 0;
		font-size: 0.8em;
	}
}

@media all and (max-width: 330px) {
	.titleBanner {
		height: 100px;
	}

	#buttons a {
		margin: 0 5px;
		padding: 6px 12px;
		font-size: 0.8em;
	}
}
