#download_list td:first-child {
	width: 100px;
	text-align: center;
}

#download_list td:last-child {
	width: 100px;
	text-align: center;
}

@media all and (max-width: 480px) {
	#download_list td {
		font-size: 0.8em;
		padding: 1em 0.2em;
	}

	#download_list td:first-child {
		width: 50px;
		padding: 0.5em;
		word-wrap: break-word;
	}

	#download_list td:last-child {
		width: 70px;
		padding: 0.5em;
	}
}