/* ========== Cards ========== */

.card {
	height: 300px;
	overflow: hidden;
	margin-bottom: 20px;
	margin-right: 10px;
	padding: 0px;
	background-color: #FFF;
	border: 1px solid #D8D8D8;
	border-radius: 3px;
}

.banner {
	height: 240px;
	padding: 0px;
	background-color: #EEE;
	background-position: 50%;
	background-size: cover;
	border-radius: 3px 3px 0 0;
}

.title {
	float: left;
	padding: 20px;
}

.light-theme {
	background-color: rgba(255, 255, 255, 0.1);
}

.dark-theme {
	background-color: rgba(0, 0, 0, 0.75);
}

.title a {
	display: block;
	text-decoration: none;
	color: #FFF;
	font-family: "Microsoft YaHei", "微软雅黑", "STHeiti", "SimSun", "宋体";
	font-size: 2.3em;
	line-height: 1.2em;
	margin: 0;
	padding: 0;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	transition: color 0.2s;
}

.title a:visited {
	color: #FFF;
}

.title a:hover {
	color: #007EB8;
}

.title a:active {
	color: #007EB8;
}

.title h3 {
	color: #FFF;
	font-family: Roboto;
	margin: 0;
	padding: 0;
	margin-top: 0.2em;
}

.description {
	color: #262626;
	font-family: "Microsoft YaHei", "微软雅黑", "STHeiti", "SimSun", "宋体";;
	padding-top: 20px;
	padding-left: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-font-smoothing: antialiased;
}

/* 1024 x 512 px */

#stackCalculator div.banner{
	background-image: url(../img/stackcalculator.jpg);
}

#tiktokCalculator div.banner{
	background-image: url(../img/tiktokcolor.jpg);
}

#substring div.banner{
	background-image: url(../img/substring.jpg);
}

#latexwithsublimetext div.banner{
	background-image: url(../img/latexwithsublimetext.jpg);
}

#miuiiconcache div.banner {
	background-image: url(../img/miuiiconcache.jpg);
}

#css3mooncake div.banner {
	background-image: url(../img/css3mooncake.jpg);
}

/* Styles for mobile device */
@media all and (max-width: 960px) {
	.card {
		height: 200px;
		margin-bottom: 10px;
		margin-right: 0;
	}

	.banner {
		height: 160px;
	}

	.title {
		float: left;
		padding: 10px;
	}

	.title a {
		font-size: 1.6em;
		margin: 0 0 2px 0;
		padding: 0 0 2px 0;
	}

	.title h3 {
		font-size: 0.8em;
	}

	.description {
		padding-top: 10px;
		padding-left: 10px;
		font-size: 0.8em;
	}
}

@media all and (max-width: 480px) {
	.card {
		border-radius: 0;
	}

	.banner {
		border-radius: 0;
	}

	.title a {
		font-size: 1.3em;
		margin: 0 0 2px 0;
		padding: 0 0 2px 0;
	}

	.title h3 {
		margin-top: 0.1em;
		font-size: 0.5em;
	}
}

/* Styles for 1080P device */
/* @media all and (min-width: 1920px) {
} */

/* Styles for 2K+ device */
/* @media all and (min-width: 2560px) {
} */