/* ========== Cards ========== */

.card {
	background-color: #FFF;
	border: 1px solid #D8D8D8;
	border-radius: 4px;
}

.card + .card {
	margin-top: 15px;
}

.banner {
	height: 240px;
	padding: 0;
	background-color: #EEE;
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 4px 4px 0 0;
	position: relative
}

.title {
	position: absolute;
	display: inline-block;
	left: 0;
	bottom: 0;
	padding: 20px 16px;
}

.light-theme {
	background-color: rgba(255, 255, 255, .1);
}

.dark-theme {
	background-color: rgba(0, 0, 0, 0.75);
}

.title a {
	display: block;
	text-decoration: none;
	color: #FFF;
	font-size: 36px;
	font-weight: 300;
	line-height: 1;
	margin: 0;
	padding: 0;
	transition: color 0.2s ease-out;
}

.title a:visited {
	color: #FFF;
}

.title a:hover {
	color: #007EB8;
}

.title a:active {
	color: #007EB8;
}

.title p {
	color: #FFF;
    font-size: 20px;
    font-weight: 100;
	line-height: 1;
	margin: 10px 0 0 0;
	padding: 0;
}

.description {
	color: #262626;
    font-size: 16px;
	padding: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-font-smoothing: antialiased;
	border-radius: 0 0 4px 4px;
}

/* Banner Images */
/* 1024 x 512 px */
#stack-calculator div.banner {
	background-image: url(../img/banner/stackcalculator.jpg);
}

#tik-tok-color div.banner {
	background-image: url(../img/banner/tiktokcolor.jpg);
}

#substring div.banner {
	background-image: url(../img/banner/substring.jpg);
}

#latex-with-sublimetext div.banner {
	background-image: url(../img/banner/latexwithsublimetext.jpg);
}

#miui-icon-cache div.banner {
	background-image: url(../img/banner/miuiiconcache.jpg);
}

#css3-mooncake div.banner {
	background-image: url(../img/banner/css3mooncake.jpg);
}

/* ES6 Daily Series */
#es6-daily-01-intro div.banner,
#es6-daily-02-let-and-const div.banner,
#es6-daily-03-destructuring div.banner,
#es6-daily-04-babel div.banner,
#es6-daily-05-string div.banner,
#es6-daily-06-regexp div.banner,
#es6-daily-07-value div.banner,
#es6-daily-08-array div.banner,
#es6-daily-09-function div.banner,
#es6-daily-10-object div.banner,
#es6-daily-11-symbol div.banner,
#es6-daily-12-set-and-map div.banner {
	background-image: url(../img/banner/es6daily.jpg);
}

#elevator div.banner {
	background-image: url(../img/banner/elevator.jpg);
}

#jsonp div.banner {
	background-image: url(../img/banner/jsonp.jpg);
}

#written-on-the-last-day-of-2016 div.banner {
	background-image: url(../img/banner/written-on-the-last-day-of-2016.jpg);
}

#mysql-error-2002 div.banner {
	background-image: url(../img/banner/mysqlerror2002.jpg);
}

#a-pit-in-date-tostring div.banner {
	background-image: url(../img/banner/date-tostring.jpg);
}

#multi-origin-cors-with-php div.banner {
	background-image: url(../img/banner/cors.jpg);
}

#unable-to-trigger-click-on-ios div.banner {
	background-image: url(../img/banner/ios-click.jpg);
}

#leetcode-01-two-sum div.banner {
	background-image: url(../img/banner/leetcode.jpg);
}

#webpack-dev-server-invalid-host-header div.banner {
	background-image: url(../img/banner/webpack-dev-server.jpg);
}

#electron-install-guide div.banner {
	background-image: url(../img/banner/electron.jpg);
}

@media all and (max-width: 768px) {

	.banner {
		height: 160px;
	}

	.title a {
		font-size: 26px;
	}

	.title p {
		font-size: 16px;
	}
}

@media all and (max-width: 480px) {
	.title {
		padding: 16px;
	}

	.title a {
		font-size: 20px;
	}

	.title p {
		font-size: 16px;
	}
}

@media all and (max-width: 360px) {

}

/* Styles for 1080P device */
/* @media all and (min-width: 1920px) {
} */

/* Styles for 2K+ device */
/* @media all and (min-width: 2560px) {
} */
