/* Setups */

@font-face {
    font-family: 'SourceCodePro';
    src: url('../font/SourceCodePro/SourceCodePro-Regular.eot');
    src: url('../font/SourceCodePro/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../font/SourceCodePro/SourceCodePro-Regular.woff2') format('woff2'),
         url('../font/SourceCodePro/SourceCodePro-Regular.woff') format('woff'),
         url('../font/SourceCodePro/SourceCodePro-Regular.ttf') format('truetype'),
         url('../font/SourceCodePro/SourceCodePro-Regular.svg#SourceCodePro') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ========== Article ========== */

#mf_content article {
	padding: 20px;
	background-color: #FFF;
	border: 1px solid #D8D8D8;
	border-radius: 3px;
}

article h1 {
	color: #262626;
	font-size: 2.5em;
	font-weight: 100;
	margin: 0;
	font-family: "Microsoft YaHei", "微软雅黑", "STHeiti", "SimSun", "宋体";
}

article h2 {
	color: #262626;
	font-family: "Microsoft YaHei", "微软雅黑", "STHeiti", "SimSun", "宋体";
	font-weight: 400;
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-size: 2em;
}

article h3 {
	color: #999999;
	font-size: 1.2em;
	font-weight: 100;
	margin: 0.1em 0 0 0;
	font-family: "Microsoft YaHei", "微软雅黑", "STHeiti", "SimSun", "宋体";
}

article p {
	color: #262626;
	font-family: Noto, "Microsoft YaHei", "微软雅黑", "STHeiti", "SimSun", "宋体";
	font-weight: 100;
	line-height: 1.8em;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

article p span.code {
	padding: 0.2em  0.5em;
	margin: 0.5em;
	background-color: #EEE;
	border-radius: 4px;
	font-weight: 400;
	box-shadow: inset 1px 1px 1px #BBB;
	font-family: SourceCodePro;
}

/*article P::selection{
	background-color: #007EB8;
	color: #FFF;
}

article P::-moz-selection{
	background-color: #007EB8;
	color: #FFF;
}*/

.titleBanner{
	height: 300px;
	margin-top: 20px;
	margin-right: 0;
	margin-bottom: 40px;
	background-color: #EEE;
	background-size: cover;
	background-position: 50%;
	border-radius: 3px;
	padding: 0;
}

#tiktokcolor .titleBanner {
	background-image: url(../img/tiktokcolor.jpg);
}

#stackcalculator .titleBanner {
	background-image: url(../img/stackcalculator.jpg);
}

#buttons {
	text-align: center;
}

article a {
	color: #007EB8;
	text-decoration: none;
	font-weight: 700;
	font-family: "Microsoft YaHei", "微软雅黑", "STHeiti", "SimSun", "宋体";
	padding: 0.1em 0.5em;
}

article a.reference{
	padding: 0;
}

#buttons a {
	color: #FFF;
	background-color: #007EB8;
	border-radius: 4px;
	padding: 10px 20px;
	margin: 0 10px;
	font-weight: 100;
}

#buttons a:hover {
	color: #FFF;
	background-color: #57AAD0;
}


#buttons a:active {
	color: #FFF;
	background-color: #005D87;
}

pre {
	border-left: 4px solid #CCC;
	background-color: #F6F6F6;
	padding-left: 1em;
	padding-right: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1em;
	overflow-x: scroll;
}

code {
	font-family: SourceCodePro;
	color: #262626;
}

@media all and (max-width: 480px) {
	.titleBanner {
		height: 160px;
	}

	article h1 {
		font-size: 2em;
	}

	article h2 {
		font-size: 1.6em;
		/*font-weight: 100;*/
	}

	pre {
		margin-left: 0;
		font-size: 0.8em;
	}
}

@media all and (max-width: 320px) {
	.titleBanner {
		height: 100px;
	}

	#buttons a {
		margin: 0 5px;
		padding: 6px 12px;
		font-size: 0.8em;
	}
}
