/* ========== Cards ========== */

.card {
	background-color: #FFF;
	border: 1px solid #D8D8D8;
	border-radius: 4px;
}

.card + .card {
	margin-top: 15px;
}

.banner {
	height: 240px;
	padding: 0;
	background-color: #EEE;
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 4px 4px 0 0;
	position: relative
}

.title {
	position: absolute;
	display: inline-block;
	left: 0;
	bottom: 0;
	padding: 20px 16px;
}

.light-theme {
	background-color: rgba(255, 255, 255, .1);
}

.dark-theme {
	background-color: rgba(0, 0, 0, 0.75);
}

.title a {
	display: block;
	text-decoration: none;
	color: #FFF;
	font-family: "Microsoft YaHei", "微软雅黑", "STHeiti", "SimSun", "宋体";
	font-size: 36px;
	line-height: 1;
	margin: 0;
	padding: 0;
	transition: color 0.2s ease-out;
}

.title a:visited {
	color: #FFF;
}

.title a:hover {
	color: #007EB8;
}

.title a:active {
	color: #007EB8;
}

.title p {
	color: #FFF;
    font-size: 20px;
	font-family: Roboto;
	line-height: 1;
	margin: 10px 0 0 0;
	padding: 0;
}

.description {
	color: #262626;
    font-size: 16px;
	font-family: "Microsoft YaHei", "微软雅黑", "STHeiti", "SimSun", "宋体";;
	padding: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-font-smoothing: antialiased;
	border-radius: 0 0 4px 4px;
}

/* Banner Images */
/* 1024 x 512 px */
#stackCalculator div.banner{
	background-image: url(../img/banner/stackcalculator.jpg);
}

#tiktokCalculator div.banner{
	background-image: url(../img/banner/tiktokcolor.jpg);
}

#substring div.banner{
	background-image: url(../img/banner/substring.jpg);
}

#latexwithsublimetext div.banner{
	background-image: url(../img/banner/latexwithsublimetext.jpg);
}

#miuiiconcache div.banner {
	background-image: url(../img/banner/miuiiconcache.jpg);
}

#css3mooncake div.banner {
	background-image: url(../img/banner/css3mooncake.jpg);
}

/* ES6 Daily Series */
#es6daily01intro div.banner,
#es6daily02letandconst div.banner,
#es6daily03destructuring div.banner,
#es6daily04babel div.banner,
#es6daily05string div.banner,
#es6daily06regexp div.banner,
#es6daily07value div.banner,
#es6daily08array div.banner,
#es6daily09function div.banner,
#es6daily10object div.banner {
	background-image: url(../img/banner/es6daily.jpg);
}

#elevator div.banner {
	background-image: url(../img/banner/elevator.jpg);
}

#jsonp div.banner {
	background-image: url(../img/banner/jsonp.jpg);
}

@media all and (max-width: 768px) {

	.banner {
		height: 160px;
	}

	.title a {
		font-size: 26px;
	}

	.title p {
		font-size: 16px;
	}
}

@media all and (max-width: 480px) {
	.title {
		padding: 16px;
	}

	.title a {
		font-size: 20px;
	}

	.title p {
		font-size: 16px;
	}
}

@media all and (max-width: 360px) {
	
}

/* Styles for 1080P device */
/* @media all and (min-width: 1920px) {
} */

/* Styles for 2K+ device */
/* @media all and (min-width: 2560px) {
} */