* {
    font-family: Segoe, Roboto, Helvetica, "Microsoft YaHei", Arial, sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
}
body {
    padding: 30px 40px;
    background-color: #121314;
}
h1 {
    text-align: center;
    color: #AAD123;
    margin-top: 0;
    font-size: 5rem;
    margin-bottom: 2rem;
}
a {
    text-decoration: none;
}
ul {
    padding-left: 0;
}
li {
    list-style: none;
    margin-bottom: 1rem;
    border: 1px solid #AAD123;
    padding: 1rem;
}
li:hover {
    background-color: #AAD123;
}
p {
    box-sizing: border-box;
    margin: 0;
}
.title {
    font-weight: 700;
    font-size: 2rem;
    color: #AAA;
    padding-bottom: 0.3rem;
}
.description {
    font-size: 1.5rem;
    color: #444;
    padding-top: 0.3rem;
}
li:hover .title {
    color: #333;
}
li:hover .description {
    color: #666;
}