/* ========== Setup ========== */

/*@font-face {
    font-family: 'Helvetica';
    src: url('../font/Helvetica/Helvetica.eot');
    src: url('../font/Helvetica/Helvetica.eot?#iefix') format('embedded-opentype'),
         url('../font/Helvetica/Helvetica.woff2') format('woff2'),
         url('../font/Helvetica/Helvetica.woff') format('woff'),
         url('../font/Helvetica/Helvetica.ttf') format('truetype'),
         url('../font/Helvetica/Helvetica.svg#Helvetica') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto/roboto.eot');
    src: url('../font/Roboto/roboto.eot?#iefix') format('embedded-opentype'),
         url('../font/Roboto/roboto.woff2') format('woff2'),
         url('../font/Roboto/roboto.woff') format('woff'),
         url('../font/Roboto/roboto.ttf') format('truetype'),
         url('../font/Roboto/roboto.svg#roboto') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: 'robotocondensed';
    src: url('../font/RobotoCondensed/robotocondensed.eot');
    src: url('../font/RobotoCondensed/robotocondensed.eot?#iefix') format('embedded-opentype'),
         url('../font/RobotoCondensed/robotocondensed.woff2') format('woff2'),
         url('../font/RobotoCondensed/robotocondensed.woff') format('woff'),
         url('../font/RobotoCondensed/robotocondensed.ttf') format('truetype'),
         url('../font/RobotoCondensed/robotocondensed.svg#robotocondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

/*@font-face {
  font-family: 'SourceHanSans';
  src: url('../font/SourceHanSansCN/SourceHanSans.eot');
  src: url('../font/SourceHanSansCN/SourceHanSans.eot?#iefix') format('embedded-opentype'),
       url('../font/SourceHanSansCN/SourceHanSans.woff2') format('woff2'),
       url('../font/SourceHanSansCN/SourceHanSans.woff') format('woff'),
       url('../font/SourceHanSansCN/SourceHanSans.ttf') format('truetype'),
       url('../font/SourceHanSansCN/SourceHanSans.svg#SourceHanSans') format('svg');
  font-weight: normal;
  font-style: normal;
}*/

body {
	padding: 0;
	margin: 0;
}

/* ========== Sidebar ========== */

#mf_sidebar {
	position: fixed;
	width: 300px;
	min-height: 500px;
	margin: 0;
	background-color: #007EB8;
}

#mf_portrait {
	width: 120px;
	height: 120px;
	background-color: #EEE;
	background-image: url(../img/portrait_120.jpg);	
	border-radius: 50%;
	margin-top: 30px;
	margin-left: 90px;
	border: 2px solid #FFF;
	box-shadow: 2px 2px 2px #666;
}

#mf_ghid {
	display: block;
	width: 300px;
	text-align: center;
	font-family: Roboto, Helvetica;
	color: #FFF;
	font-size: 1.5em;
	line-height: 1.5em;
	margin-top: 1em;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#mf_ghid::before {
	content: url(../img/github24.png);
	vertical-align: bottom;
}

#mf_ghid:hover {
	text-shadow: 4px 4px 4px #444;
}

#mf_category {
	width: 200px;
	list-style: none;
	margin-top: 4em;
	padding-left: 100px;
}

#mf_category li {
	height: 2em;
	line-height: 2em;
	font-size: 1.5em;
	font-family: Roboto, Helvetica;
	text-align: right;
	padding-right: 46px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#mf_category li:hover {
	font-size: 2em;
	text-shadow: 4px 4px 4px #444;
}

#mf_category li.active {
	background-color: #3F9EC9;
	border-left: 6px solid #FFF;
}

#mf_category li a {
	color: #FFF;
	text-decoration: none;
}

#mf_category li a:hover {
	color: #FFF;
	text-decoration: none;
}

#mf_category li a:active {
	color: #FFF;
	text-decoration: none;
}

#mf_category li a:visited {
	color: #FFF;
	text-decoration: none;
}

/* ========== Content ========== */

#mf_content {
	padding: 20px;
}