/* ========== Setup ========== */

* {
	box-sizing: border-box;
	font-family: Roboto, "Segeo UI", "Helvetica Neue", Tahoma, Arial, sans-serif, "PingFang SC", "Hiragino Sans GB", "Source Han Sans", "Microsoft Yahei", "STHeiti", "SimSun";
}

html, body {
	padding: 0;
	margin: 0;
}

body {
	background-color: #E5E5E5;
    -webkit-overflow-scrolling: touch;
}

.clearfix::after {
	clear: both;
	content: '.';
	display: block;
	width: 0;
	height: 0;
	visibility: hidden;
}


/* ========== Sidebar ========== */

#mf_sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	min-height: 500px;
	margin: 0;
	background-color: #007EB8;
    z-index: 1000;
}

#mf_portrait {
	display: block;
	width: 120px;
	height: 120px;
	background-color: #EEE;
	background-image: url(../img/portrait_120.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	margin: 30px auto;
	border: 2px solid #FFF;
	box-shadow: 2px 2px 2px #666;
	text-decoration: none;
}

#mf_portrait:hover {
	cursor: pointer;
}

#mf_ghid {
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	color: #FFF;
	font-size: 20px;
	font-weight: 300;
	line-height: 1;
	text-decoration: none;
	transition: text-shadow 0.2s ease-out;
}

#mf_ghid::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 20px;
	height: 20px;
	transform: translate(-5em, 0);
	background-repeat: no-repeat;
	background-image: url(../img/github24.png);
	background-size: contain;
}

#mf_ghid:hover {
	text-shadow: 4px 4px 4px #444;
}

#mf_category {
	width: 160px;
	list-style: none;
	float: right;
	margin-top: 30px;
	margin-bottom: 0;
	padding-left: 0;
}

#mf_category li {
	font-size: 24px;
	line-height: 1;
	padding: .5em 1em;
	font-weight: 100;
	text-align: right;
	transition: all 0.2s ease-out;
}

#mf_category li:hover {
	text-shadow: 4px 4px 4px #444;
}

#mf_category li.active {
	background-color: #3F9EC9;
	border-left: 6px solid #FFF;
}

#mf_category li a {
	color: #FFF;
	text-decoration: none;
	white-space: nowrap;
}

#mf_category li a:hover {
	color: #FFF;
	text-decoration: none;
}

#mf_category li a:active {
	color: #FFF;
	text-decoration: none;
}

#mf_category li a:visited {
	color: #FFF;
	text-decoration: none;
}

/* ========== Content ========== */

#mf_content {
	padding: 20px 15px 200px 315px;
}

#mf_content footer p {
	clear: both;
	text-align: center;
	color: #999;
}

#mf_content footer a {
	margin: 0 0.5em;
	color: #999;
	text-decoration: none;
}

#mf_content footer a:visited {
	color: #999;
}

/* Styles for mobile device */
/* 1024+ is for PC and above, considering scrollbar */
@media all and (max-width: 1024px) {
	#mf_sidebar {
		height: 44px;
		min-height: 44px;
		width: 100%;
	}

	#mf_profile {
		float: left;
	}

	#mf_portrait {
		width: 32px;
		height: 32px;
		border-width: 1px;
		margin: 6px 6px;
		box-shadow: none;
	}

	#mf_ghid {
		display: none;
	}

	#mf_category {
		float: left;
		width: auto;
		padding: 0;
		margin-top: 0;
	}

	#mf_category li {
		float: left;
		font-size: 14px;
		height: 44px;
		line-height: 44px;
		padding: 0 10px;
		text-align: center;
	}

	#mf_category li:hover {
		font-size: 16px;
		text-shadow: none;
	}

	#mf_category li.active {
		background-color: #3F9EC9;
		border-left: none;
	}

	#mf_content {
		padding: 58px 15px 20px;
	}
}