/* ========== Article ========== */

h1.title {
	font-family: Roboto, "Microsoft YaHei", "微软雅黑", "STHeiti", "SimSun", "宋体";
	font-weight: 100;
	font-size: 2.5em;
}

.card {
	float: left;
	width: 280px;
	min-width: 280px;
	height: 276px;
	padding: 0;
	background-color: #FFF;
	border: 1px solid #D8D8D8;
	border-radius: 3px;
	font-family: Roboto, "Microsoft YaHei", "微软雅黑", "STHeiti", "SimSun", "宋体";
	margin-right: 20px;
	margin-bottom: 50px;
}

.cover{
	width: 280px;
	min-width: 280px;
	height: 150px;
	padding: 0;
	margin: 0;
	background-color: #EEE;
	background-size: cover;
	background-position: 50%;
	border-radius: 3px 3px 0 0;
}

/* 280 x 150 px */

#tiktokcolor .cover {
	background-image: url(../img/tiktokcolor_thumb.jpg);
}

#stackcalculator .cover {
	background-image: url(../img/stackcalculator_thumb.jpg);
}

.card h3 {
	font-family: Roboto, "Helvetica", "Sans-Serif", "Microsoft YaHei", "微软雅黑", "STHeiti", "SimSun", "宋体";
	padding: 0.5em;
	margin: 0;
	font-weight: 100;
}

.card p {
	padding: 0 0.5em;
	margin: 0 0 0.5em 0;
	font-weight: 100;
	color: #999;
	font-family: Roboto, "Helvetica", "Sans-Serif", "Microsoft YaHei", "微软雅黑", "STHeiti", "SimSun", "宋体";
}

.card a {
	color: #007EB8;
	text-decoration: none;
	margin: 0;
}

.card a p {
	width: 280px;
	min-width: 280px;
	height: 2.8em;
	line-height: 2.8em;
	text-align: center;
	color: #007EB8;
	font-family: Roboto, "Helvetica", "Sans-Serif", "Microsoft YaHei", "微软雅黑", "STHeiti", "SimSun", "宋体";
	margin: 1em 0 0 0;
	padding: 0;
	border-top: 1px solid #DDD;
	border-radius: 0 0 2px 2px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.card a p:hover {
	background-color: #007EB8;
	color: #FFF;
}

.card a p:active {
	background-color: #007EB8;
	color: #FFF;
}