/* ========== Article ========== */

h1.title {
	font-weight: 100;
	font-size: 32px;
}

.card {
	float: left;
	width: 280px;
	padding: 0;
	background-color: #FFF;
	border: 1px solid #D8D8D8;
	border-radius: 4px;
	margin-right: 20px;
	margin-bottom: 20px;
	transition: all .3s ease-out;
}

.cover {
	width: 100%;
	height: 150px;
	padding: 0;
	margin: 0;
	background-color: #EEE;
	background-size: cover;
	background-position: 50%;
	border-radius: 4px 4px 0 0;
}

/* 280 x 150 px */

#tiktokcolor .cover {
	background-image: url(../img/thumb/tiktokcolor_thumb.jpg);
}

#stackcalculator .cover {
	background-image: url(../img/thumb/stackcalculator_thumb.jpg);
}

#css3mooncake .cover {
	background-image: url(../img/thumb/css3mooncake_thumb.jpg);
}

#elevator .cover {
	background-image: url(../img/thumb/elevator_thumb.jpg);
}

.intro {
	padding: 12px;
	border-bottom:  1px solid #D8D8D8;
}

.card h3 {
    font-size: 24px;
	font-weight: 100;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card p {
    font-size: 16px;
	font-weight: 100;
	color: #999;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card a {
	display: block;
	background-color: #FFF;
	color: #007EB8;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
	padding: 12px;
	margin: 0;
	border-radius: 0 0 2px 2px;
	transition: all 0.3s ease-out;
}

.card a:hover {
	background-color: #007EB8;
	color: #FFF;
}

.card a:active {
	background-color: #007EB8;
	color: #FFF;
}

.card a p:visited {
	background-color: #FFF;
	color: #007EB8;
}

@media all and (max-width: 1024px) {
	.card {
		width: calc((100% - 40px) / 3);
		margin-left: 20px;
		margin-right: 0;
	}

	.card:nth-of-type(3n+1) {
		margin-left: 0;
	}
}

@media all and (max-width: 768px) {
	.card {
		width: calc((100% - 20px) / 2);
		margin-left: 20px;
		margin-right: 0;
	}

	.card:nth-of-type(3n+1) {
		margin-left: 20px;
	}

	.card:nth-of-type(odd) {
		margin-left: 0;
	}
}

@media all and (max-width: 480px) {
	.card {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	.card:nth-of-type(3n+1) {
		margin-left: 0;
	}
}