<article id="dc">
  <h1>Drift Club</h1>

  <h2>简介</h2>
  <p>Drift Club 是一个二手豪车租赁/购买平台。</p>
  <p>项目基于 Vue 2.x 开发，配合 vue-router 和 Vuex 全家桶。基于 Axios 封装了 HTTP 客户端，使用 SCSS + PostCSS 编写样式，使用 Karma + Mocha 进行单元测试，使用 Webpack 进行构建，使用 ESLint 统一代码风格。</p>
  <h2>周期</h2>
  <p>2017 年 10 月 - 2017 年 11 月</p>

  <h2>技术栈</h2>
  <div class="stacks">
    <div class="stack fix-ratio ratio-1-1 icon icon-html5" title="HTML5"></div>
    <div class="stack fix-ratio ratio-1-1 icon icon-css3" title="CSS3"></div>
    <div class="stack fix-ratio ratio-1-1 icon icon-javascript" title="JavaScript"></div>
    <div class="stack fix-ratio ratio-1-1 icon icon-es" title="ECMAScript 2015+"></div>
    <div class="stack fix-ratio ratio-1-1 icon icon-vue" title="vue"></div>
    <div class="stack fix-ratio ratio-1-1 icon icon-sass" title="SASS"></div>
    <div class="stack fix-ratio ratio-1-1 icon icon-karma" title="Karma"></div>
    <div class="stack fix-ratio ratio-1-1 icon icon-mocha" title="Mocha"></div>
    <div class="stack fix-ratio ratio-1-1 icon icon-webpack" title="webpack"></div>
    <div class="stack fix-ratio ratio-1-1 icon icon-yarn" title="Yarn"></div>
    <div class="stack fix-ratio ratio-1-1 icon icon-eslint" title="ESLint"></div>
  </div>

  <h2>相关链接</h2>
  <p>暂无</p>

  <h2>项目截图</h2>
  <img src="/img/project/dc/screenshot.jpg" alt="截图" title="截图" class="img-block">
</article>