[production staging]
> 0.2%
not dead
not op_mini all
last 10 Chrome versions
last 5 Edge versions
Firefox ESR
maintained node versions

[development]
last 1 chrome version,
last 1 firefox version,
last 1 safari version
