<div id="mf-content">
  <article id="avis">
    <h1>野马跑跑跑 H5 游戏</h1>

    <h2>简介</h2>
    <p>安飞士 2016 年双十一促销的一款 H5 赛车小游戏，在微信平台传播。</p>
    <p>项目使用 Canvas 进行游戏画面的绘制，使用 requestAnimationFrame 来优化渲染效果。利用 Webpack 来打包 ES6 代码和 LESS 样式。由于是移动端，因此选用了 Zepto 来代替 jQuery。使用 Webpack + Gulp 完成自动化构建，Yarn 用于以来管理。</p>

    <h2>周期</h2>
    <p>2016 年 10 月</p>

    <h2>技术栈</h2>
    <div class="stacks">
      <div class="stack fix-ratio ratio-1-1 icon icon-html5" title="HTML5"></div>
      <div class="stack fix-ratio ratio-1-1 icon icon-css3" title="CSS3"></div>
      <div class="stack fix-ratio ratio-1-1 icon icon-javascript" title="JavaScript"></div>
      <div class="stack fix-ratio ratio-1-1 icon icon-es" title="ECMAScript 2015+"></div>
      <div class="stack fix-ratio ratio-1-1 icon icon-zepto" title="Zepto"></div>
      <div class="stack fix-ratio ratio-1-1 icon icon-less" title="LESS"></div>
      <div class="stack fix-ratio ratio-1-1 icon icon-gulp" title="Gulp"></div>
      <div class="stack fix-ratio ratio-1-1 icon icon-yarn" title="Yarn"></div>
      <div class="stack fix-ratio ratio-1-1 icon icon-eslint" title="ESLint"></div>
    </div>

    <h2>相关链接</h2>
    <p>时效原因，线上地址已过期。</p>

    <h2>项目截图</h2>
    <img src="/img/project/avis/screenshot.jpg" alt="Screen Shot" class="img-block">
    <img src="/img/project/avis/weibo.png" alt="Weibo" class="img-block">
    <img src="/img/project/avis/finish.jpg" alt="Finish" class="img-block">
  </article>
</div>