<div id="mf-content">
  <article id="stackcalculator">
    <h1>CSS3绘制月饼</h1>

    <h2>简介</h2>
    <p>使用纯 CSS3 绘制月饼</p>
    <img src="/img/project/css3mooncake/css3mooncake.jpg" alt="CSS3 Mooncake" class="img-block">

    <h2>周期</h2>
    <p>2015 年 9 月</p>

    <h2>技术栈</h2>
    <div class="stacks">
      <div class="stack fix-ratio ratio-1-1 icon icon-html5" title="HTML5"></div>
      <div class="stack fix-ratio ratio-1-1 icon icon-css3" title="CSS3"></div>
    </div>

    <h2>相关链接</h2>
    <p>
      <a class="button" target="_blank" href="/case/css3mooncake/css3-mooncake.html">在线预览</a>
      <a class="button" target="_blank" href="https://github.com/tonghuashuo/tonghuashuo.github.io/blob/master/case/css3mooncake/css3-mooncake.html">查看源码</a>
      <a class="button" target="_blank" href="/blog/css3-mooncake.html">相关博文</a>
    </p>
  </article>
</div>