<article id="dashboard">
  <h1>影响力 Dashboard</h1>

  <h2>简介</h2>
  <p>一个红人数字交易平台，该项目为其后台 Dashboard。</p>
  <p>项目采用 Angular (4.x) 开发，基于其生态引入了 TypeScript、RxJS、Protractor。</p>

  <h2>周期</h2>
  <p>2017 年 6 月</p>

  <h2>技术栈</h2>
  <div class="stacks">
    <div class="stack fix-ratio ratio-1-1 icon icon-html5" title="HTML5"></div>
    <div class="stack fix-ratio ratio-1-1 icon icon-css3" title="CSS3"></div>
    <div class="stack fix-ratio ratio-1-1 icon icon-typescript" title="TypeScript"></div>
    <div class="stack fix-ratio ratio-1-1 icon icon-angular" title="Angular"></div>
    <div class="stack fix-ratio ratio-1-1 icon icon-sass" title="SASS"></div>
    <div class="stack fix-ratio ratio-1-1 icon icon-jasmine" title="Jasmine"></div>
    <div class="stack fix-ratio ratio-1-1 icon icon-protractor" title="Protractor"></div>
    <div class="stack fix-ratio ratio-1-1 icon icon-webpack" title="Webpack"></div>
    <div class="stack fix-ratio ratio-1-1 icon icon-gulp" title="Gulp"></div>
    <div class="stack fix-ratio ratio-1-1 icon icon-yarn" title="Yarn"></div>
  </div>

  <h2>相关链接</h2>
  <p>暂无</p>

  <h2>项目截图</h2>
  <!-- <img src="/img/project/influence/screenshot.jpg" alt="截图" title="截图" class="img-block"> -->
  <p>暂无</p>
</article>