<div id="mf-content">
  <article id="jetli">
    <h1>街力</h1>

    <h2>简介</h2>
    <p>功夫巨星李连杰携手阿里巴巴创始人马云共同推动的基于两人共同追求的项目，一个功夫类垂直内容平台。</p>
    <p>该项目全面使用 ES2015 标准和 SCSS 进行开发，考虑到 SEO 方面的需求，以及生产环境尚未部署 Node，无法使用 SSR，故退而求其次使用 jQuery，并通过面向对象的方式对对话框、评论、消息、卡片等组件进行模块化。项目使用 Gulp 进行自动化构建，使用 Yarn 进行依赖管理，使用 ESLint 统一代码风格。</p>

    <h2>周期</h2>
    <p>2016 年 11 月 - 2017 年 2 月</p>

    <h2>技术栈</h2>
    <div class="stacks">
      <div class="stack fix-ratio ratio-1-1 icon icon-html5" title="HTML5"></div>
      <div class="stack fix-ratio ratio-1-1 icon icon-css3" title="CSS3"></div>
      <div class="stack fix-ratio ratio-1-1 icon icon-javascript" title="JavaScript"></div>
      <div class="stack fix-ratio ratio-1-1 icon icon-es" title="ECMAScript 2015+"></div>
      <div class="stack fix-ratio ratio-1-1 icon icon-jquery" title="jQuery"></div>
      <div class="stack fix-ratio ratio-1-1 icon icon-sass" title="SASS"></div>
      <div class="stack fix-ratio ratio-1-1 icon icon-gulp" title="Gulp"></div>
      <div class="stack fix-ratio ratio-1-1 icon icon-yarn" title="Yarn"></div>
      <div class="stack fix-ratio ratio-1-1 icon icon-eslint" title="ESLint"></div>
    </div>

    <h2>相关链接</h2>
    <p>
      <a class="button" target="_blank" href="http://cn.jetli.com">线上地址</a>
    </p>

    <h2>项目截图</h2>
    <img src="/img/project/jetli/screenshot.jpg" alt="Screen Shot" class="img-block">
  </article>

</div>