<div id="mf-content">
  <article id="stackcalculator">
    <h1>Stack Calculator</h1>

    <h2>简介</h2>
    <p>通过“栈”实现的计算器，输入完整的方程式，得到计算结果。</p>
    <img src="/img/project/stack-calculator/stack-calculator.jpg" alt="Stack Calculator" class="img-block">

    <h2>周期</h2>
    <p>2015 年 3 月</p>

    <h2>技术栈</h2>
    <div class="stacks">
      <div class="stack fix-ratio ratio-1-1 icon icon-html5" title="HTML5"></div>
      <div class="stack fix-ratio ratio-1-1 icon icon-css3" title="CSS3"></div>
      <div class="stack fix-ratio ratio-1-1 icon icon-javascript" title="JavaScript"></div>
    </div>

    <h2>相关链接</h2>
    <p>
      <a class="button" target="_blank" href="/case/stackcalculator/stack-calculator.html">线上地址</a>
      <a class="button" target="_blank" href="https://github.com/tonghuashuo/calculator">源码</a>
      <a class="button" target="_blank" href="/blog/stack-calculator.html">相关博客</a>
    </p>
  </article>
</div>