<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="description" content="童话说，一个关于Web前端的原创技术博客，不定期发布Web前端及其相关技术的博文">
  <meta name="keywords" content="tonghuashuo,github,前端,html,html5,css,css3,javascript,js,jquery,安卓,android,java,童话,童话说,华心童">
  <title>Connection - 实验室 | 童话说</title>
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <link rel="stylesheet" href="/dist/styles/vendor.css" />
  <link rel="stylesheet" href="/dist/styles/lab.css">
</head>
<body>
  <div id="mf-content">

    <a href="/lab.html" class="back">&laquo; Back</a>

    <h1>Connection</h1>
    <br/>

    <p>Type: <span id="type"></span></p>
    <br/>

    <p id="error"></p>
    <br/>

  </div>

  <script src="/lib/jquery.min.js"></script>
  <script src="/dist/scripts/vendor.js"></script>
  <script>
    // Connection
    var errorDOM = document.getElementById("error")
    var typeDOM = document.getElementById('type')

    var type = ''

    var connection = navigator.connection || navigator.webkitConnection || navigator.mozConnection
    if (connection && connection.type) {
      type = connection.type
      typeDOM.innerHTML = type
      console.log(connection)
    } else {
      errorDOM.innerHTML = "[Opsss] navigator.connection not supported on this platform."
    }

    function updateConnectionStatus() {
      typeDOM.innerHTML = `${connection.type} (previously: ${type})`
    }

    connection.addEventListener('typechange', updateConnectionStatus)
  </script>
</body>
</html>