<div id="mf-content">
  <article>

    <h1>我</h1>
    <img src="/img/brain.png" alt="Code in my left brain. Color in my right brain.">
    <p>JavaScript 开发者一枚<span id="experience"></span></p>
    <p>大前端信徒，坚信 JavaScript 才是未来，致力于为更美好的 Web 贡献自己的力量</p>
    <p>摄影爱好者，半拉设计师，Adobe 死忠，谷粉，小米脑残粉，乌克丽丽噪音专家</p>
    <p>欢迎来 Github 上关注我：<a target="_blank" href="http://github.com/tonghuashuo">@tonghuashuo</a></p>
    <p>或给我来信：<a target="_blank" href="mailto:ideal19920402@gmail.com">ideal19920402@gmail.com</a></p>

    <h1>为什么写博客</h1>
    <ul>
      <li>把“以为懂了”的东西讲给别人听，以此验证是否真的懂了，顺带加深记忆。</li>
      <li>Review 自己的代码，看有哪些是可以优化的，哪些甚至是解释不通的。</li>
      <li>锻炼自己的表达能力，能把不懂的人给教会才是真的懂了。</li>
      <li>如果可能的话，为社区贡献一点有价值的内容。</li>
      <li>装逼这事儿没什么说不出口的。</li>
    </ul>

    <h1>顺便招人</h1>
    <p><a target="_blank" href="http://www.dlab.com.cn">DLAB</a> 长期招募前端开发工程师（坐标上海）</p>
    <p>规定动作：</p>
    <ul>
      <li>自认为足够优秀的 应届生 / 从业者（Who Can Who Up. No Can No B~ B~）</li>
      <li>计科、软工、设计相关专业优先（能力优秀者请看不到这一条）</li>
      <li>有良好的 HTML5、CSS3、ES 2015+ 基础（这是及格线）</li>
      <li>LESS / SCSS / PostCSS / Stylus 至少熟悉一样（不止一样？那更好啊）</li>
      <li>Angular、React、Vue 三大生态至少熟悉一样（2017 年了，不能还只会 jQuery 吧）</li>
      <li>有良好的编程习惯，对前端工程化有一定的实践（毕竟我们是团伙作案的）</li>
      <li>至少掌握一种后端技术栈（PHP/Java/.NET/ROR/Django/Node.js）</li>
    </ul>
    <p>自选动作：</p>
    <ul>
      <li>熟悉 Node.js 服务端开发的果断加分。</li>
      <li>对 RN、Weex、Electron 等 Native 端技术有研究的果断加分。</li>
      <li>有 Github 项目、技术博客 等的果断加分。</li>
      <li>英语好，看官网文档无压力的果断加分</li>
      <li>妹子果断加分。</li>
    </ul>
    <p>简历发到：<a target="_blank" href="mailto:washington@dlab.com.cn">washington@dlab.com.cn</a>（请务必提供作品，商业或个人的均可）</p>

  </article>

</div>