<div id="mf-content">
  <header class="channel-header">
    <a href="/blog.html" class="title">最新博客</a>
    <a href="/blog.html" class="more">查看全部 &raquo;</a>
  </header>
  <div class="channel-body blogs">
    {{latestBlogElem}}
  </div>

  <header class="channel-header">
    <a href="/project.html#commercial" class="title">最新商业项目</a>
    <a href="/project.html#commercial" class="more">查看全部 &raquo;</a>
  </header>
  <div class="channel-body projects commercial">
    {{latestCommercialProjectsElem}}
  </div>

  <header class="channel-header">
    <a href="/project.html#exercise" class="title">最新业余搞鬼</a>
    <a href="/project.html#exercise" class="more">查看全部 &raquo;</a>
  </header>
  <div class="channel-body projects exercise">
    {{latestExerciseProjectsElem}}
  </div>

</div>