@charset "utf-8";

@use '../../styles/ths';
@use 'sass:color';

.blog-list {
  @media (max-width: ths.$break-point-tablet) {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .blog {
    display: flex;
    flex-direction: row-reverse;
    transition: background-color 0.3s ease-out;
    // padding: 15px;
    margin-bottom: 20px;
    border-radius: 16px;
    background-color: color.adjust(ths.$theme-color-bg, $lightness: 5%);
    overflow: hidden;

    @media (max-width: ths.$break-point-tablet) {
      align-items: stretch;
      margin-bottom: 15px;
    }

    .banner {
      overflow: hidden;
      position: relative;
      width: 240px;
      height: 135px;
      flex-shrink: 0;
      transition: width 0.3s ease-out, height 0.3s ease-out;
      border-radius: 0 16px 16px 0;

      @media (max-width: ths.$break-point-desktop-small) {
        width: 240px;
        height: 135px;
      }

      @media (max-width: ths.$break-point-tablet) {
        width: 200px;
        min-height: 135px;
        height: auto;
      }

      @media (max-width: ths.$break-point-mobile) {
        width: 120px;
        min-height: 90px;
      }

      img {
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .info {
      padding: 24px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .title {
        color: ths.$theme-color-primary;
        font-size: 22px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 12px;
        word-wrap: break-word;
        transition: font-size 0.3s ease-out, margin-bottom 0.3s ease-out;

        @media (max-width: ths.$break-point-desktop-small) {
          margin-bottom: 8px;
        }

        @media (max-width: ths.$break-point-tablet) {
          font-size: 18px;
        }

        @media (max-width: ths.$break-point-mobile) {
          font-size: 14px;
          margin-bottom: 4px;
        }
      }

      .desc {
        color: ths.$theme-color-text;
        word-wrap: break-word;
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 20px;
        flex-grow: 1;
        transition:
          color 0.3s ease-out,
          font-size 0.3s ease-out,
          margin-bottom 0.3s ease-out;

        @media (max-width: ths.$break-point-mobile) {
          font-size: 12px;
          margin-bottom: 4px;
        }
      }

      .blog__footer {
        display: flex;

        @media (max-width: ths.$break-point-tablet) {
          flex-direction: column;
        }

        .date {
          font-size: 14px;
          line-height: 20px;
          color: ths.$theme-color-text;
          position: relative;
          white-space: nowrap;
          transition: font-size 0.3s ease-out, margin-bottom 0.3s ease-out;

          @media (max-width: ths.$break-point-tablet) {
            margin-bottom: 2px;
            font-size: 12px;
          }
        }

        .tags {
          padding-left: 10px;
          margin-left: 10px;
          display: flex;
          color: ths.$theme-color-text;
          line-height: 1;
          font-size: 14px;
          transition: font-size 0.3s ease-out;
          position: relative;

          @media (max-width: ths.$break-point-tablet) {
            font-size: 12px;
          }

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            width: 1px;
            height: 12px;
            background-color: ths.$theme-color-text;

            @media (max-width: ths.$break-point-tablet) {
              content: none;
            }
          }
        }
      }
    }

    &.draft {
      .title {
        &::before {
          content: '[ Draft ] ';
          color: ths.$theme-color-draft;
        }
      }
    }
  }
}
