@charset "utf-8";

@use '../../styles/ths';

.blog-catelog-toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 15px;

  .viewmode-selector {
    display: flex;

    .viewmode-option {
      font-size: 12px;
      color: ths.$theme-color-text;
      transition: color 0.3s ease-out;

      &.active {
        color: ths.$theme-color-primary;
      }

      &:not(:first-child) {
        margin-left: 1em;
        cursor: pointer;
      }
    }
  }
}
