@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica.eot');
    src: url('Helvetica.eot?#iefix') format('embedded-opentype'),
         url('Helvetica.woff2') format('woff2'),
         url('Helvetica.woff') format('woff'),
         url('Helvetica.ttf') format('truetype'),
         url('Helvetica.svg#Helvetica') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: #DDD;
	padding: 0px;
	margin: 0px;
}

#wrapper {
	width: 480px;
	height: 100%;
	margin: 10% auto;
	padding: 0px;
	/*border: 1px dashed #000;*/
}

#profile {
	float: left;
	width: 150px;
	height: 150px;
	margin: 0px 165px 10px;
}

#portrait {
	height: 150px;
	width: 150px;
	background-color: #CCC;
	background-image: url(../_img/portrait.jpg);
	padding: 0px;
	box-shadow: 0px 0px 20px #EEE;
}

#portrait:hover {
	box-shadow: 0px 0px 20px #666;
	transition: box-shadow 0.2s ease-in;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in;
	-o-transition: box-shadow 0.2s ease-in;
}

#uid {
	clear: both;
	color: #999;
	font-family: Tahoma, Arial, sans-serif;
	font-style: italic;
	font-weight: bold;
	margin-left: 178px;
	text-decoration: none;
}

#uid:hover {
	color: #1697CB;
	transition: color 0.1s ease-in;
	-webkit-transition: color 0.1s ease-in;
	-moz-transition: color 0.1s ease-in;
	-o-transition: color 0.1s ease-in;
}

h2 {
	font-family: Helvetica;
	font-style: italic;
	font-weight: lighter;
	color: #999;
	margin-left: 80px;
	margin-top: 50px;
}