@charset "utf-8";

@mixin ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin clearfix {

	&::after {
		clear: both;
		content: '.';
		display: block;
		width: 0;
		height: 0;
		visibility: hidden;
	}
}
