@charset "utf-8";

$theme-font: 'Roboto', 'PingFang SC', 'Hiragino Sans GB', "Segeo UI", 'Lantinghei SC', 'Microsoft YaHei', 'STHeiti', 'Simsun', Tahoma, Arial, 'sans-serif';
$theme-font-code: 'Source Code Pro', Consolas, Arial, 'sans-serif';

$theme-color-dark-primary: #181818;
$theme-color-dark-secondary: #323232;
$theme-color-main: #A4D100; // 164, 209, 0 (Neon Green)
// $theme-color-main: #007EB8;

$theme-color-text-primary: #FFF;
$theme-color-text-secondary: rgba(255, 255, 255, .7);
$theme-color-text-disabled: rgba(255, 255, 255, .3);

$theme-color-table-primary: #1F1F1F;
$theme-color-table-secondary: #292929;

$header-height: 44px;
$nav-bar-height: 56px;
$icon-size: 24px;

$theme-max-width: 670px;