@charset 'utf-8';
@import '_common';

article {
  padding: 40px 15px;
  background-color: $theme-color-dark-secondary;

  h1 {
    color: $theme-color-main;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: .5em;
  }

  p.publish-date {
    color: $theme-color-text-secondary;
    font-size: 20px;
    font-weight: 100;
    line-height: 1;
    margin: .5em 0 0 0;
  }

  .banner {
    margin: 20px 0;

    img {
      width: 100%;
      display: block;
    }
  }

  h2 {
    color: $theme-color-text-secondary;
    font-size: 26px;
    font-weight: 300;
    line-height: 1;
    margin-top: 1.5em;
    margin-bottom: .8em;
  }

  h3 {
    color: $theme-color-text-secondary;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    margin-top: 1.5em;
    margin-bottom: .5em;

    span.code {
      padding: .1em .3em;
      margin: 0 .3em;
    }
  }

  p {
    color: $theme-color-text-secondary;
    font-weight: 300;
    line-height: 1.75;
    margin-top: 0;
    margin-bottom: .75em;

    a {
      padding: .1em .5em;
    }
  }

  h1, h2, h3, h4, h5, h5, p, a, li, span, code, time, img, th, td {
    &::selection {
      background-color: $theme-color-main;
      color: $theme-color-dark-secondary;
    }
  }

  span.code {
    display: inline-block;
    font-size: 0.8em;
    font-weight: 400;
    color: $theme-color-main;
    background-color: $theme-color-dark-primary;
    border-radius: 2px;
    font-family: $theme-font-code;
    padding: 0 0.5em;
    line-height: 1.75;
    margin: 0 0.5em;
  }

  pre {
    position: relative;
    font-family: $theme-font-code;
    background-color: $theme-color-dark-primary;
    color: $theme-color-main;
    font-size: 14px;
    line-height: 1.5;
    padding: 12px 12px 12px 48px;
    margin-bottom: 1em;
    overflow-x: auto;
    overflow-y: hidden;

    code {
      padding-left: 0;
    }

    .line-number {
      position: absolute;
      top: 0;
      left: 0;
      width: 36px;
      background-color: #23241F;
      padding: 12px 10px 12px;
      text-align: right;
      margin: 0;

      li {
        font-size: 14px;
        line-height: 1.5;
        color: $theme-color-main;
        font-family: $theme-font-code;
      }
    }
  }

  a {
    color: $theme-color-main;
    font-weight: 400;
    word-wrap: break-word;

    &:hover {
      text-decoration: underline;
    }

    &.reference{
      font-weight: 700;
    }
  }

  > img {
    max-width: 100%;
    margin-bottom: 15px;

    &.img-block {
      display: block;
      width: 100%;
    }
  }

  ul {
    list-style: circle;
  }

  ul, ol {
    padding-left: 30px;
    margin: 1em 0;

    ul, ol {
      margin: .5em 0;
    }

    li {
      font-size: 16px;
      font-weight: 100;
      line-height: 1.8;
      color: $theme-color-text-secondary;
    }
  }

  div.table-wrapper {
    overflow-x: auto;
    width: 100%;
    margin-bottom: 15px;

    table {
      margin-bottom: 0;

      tr {
        th, td {
          white-space: nowrap;
        }
      }
    }
  }

  table {
    margin-bottom: 15px;
    min-width: 100%;

    tr {
      &:nth-child(odd) {
        background-color: $theme-color-table-secondary;
      }

      &:nth-child(even) {
        background-color: $theme-color-table-primary;
      }
    }

    thead tr:nth-child(odd) {
      background-color: $theme-color-table-primary
    }

    th, td {
      font-size: 16px;
      padding: 1em;
      word-wrap: normal;
      color: $theme-color-text-secondary;

      a {
        padding: 0;
      }
    }
  }

  blockquote {
    margin: 0;
    border-left: 4px solid lighten($theme-color-dark-primary, 20%);
    background-color: $theme-color-dark-primary;
    padding: 15px;
    font-size: 14px;
    line-height: 1.5;
    color: $theme-color-text-secondary;
  }
}

.buttons {
  text-align: center;
  padding: 10px 20px;
  display: flex;
  justify-content: center;

  a {
    display: block;
    color: $theme-color-dark-secondary;
    background-color: $theme-color-main;
    padding: 10px 20px;
    margin: 0 10px;
    white-space: nowrap;
    transition: background-color .3s ease-out;

    &:hover, &:active {
      background-color: lighten($theme-color-main, 10%);
    }
  }
}

strong {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
