@charset 'utf-8';

@import '../../styles/_common.scss';

#lab-html5-input {
  label {
    display: block;
    margin-bottom: 0.5em;
    font-size: 16px;
  }

  input {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #999;
    background-color: transparent;
    margin-bottom: 15px;
    font-size: 16px;
  }

  input[type=\"text\"],
  input[type=\"password\"],
  input[type=\"tel\"],
  input[type=\"email\"],
  input[type=\"date\"],
  input[type=\"datetime\"],
  input[type=\"number\"],
  input[type=\"url\"],
  input[type=\"search\"] {
    padding-left: 1em;
  }
}
