@charset "utf-8";

@use '../../styles/ths';
@use 'sass:color';

.navigation {
  @media (max-width: ths.$break-point-desktop-small) {
    display: none;
  }

  .nav-menu {
    .menus {
      display: flex;
      align-items: center;

      .menu {
        &:not(:first-child) {
          margin-left: 30px;
        }
      }

      .menu-link {
        display: block;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        color: ths.$theme-color-text;
        text-align: center;
        transition: color 0.3s ease-out;
        user-select: none;

        &:hover {
          color: color.adjust(ths.$theme-color-text, $lightness: 50%);
        }

        &.active {
          color: ths.$theme-color-primary;
        }
      }
    }
  }
}
