@charset "utf-8";

@use '../styles/ths';

#page-not-found {
  height: calc(100vh - #{ths.$mf-header-height});
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;

  h1 {
    color: ths.$theme-color-primary;
    font-size: 36px;
  }

  pre {
    margin-top: 40px;
    margin-bottom: 0;

    code {
      font-size: 16px;
      font-family: ths.$theme-font-code;
      color: ths.$theme-color-secondary;
      line-height: 1.75;

      @media (max-width: ths.$break-point-mobile) {
        font-size: 14px;
      }
    }
  }

  .btn-back {
    font-size: 16px;
    font-family: ths.$theme-font-code;
    color: ths.$theme-color-primary;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    border: 1px solid ths.$theme-color-primary;
    border-radius: 4px;
    transition:
      background-color 0.15s ease-out,
      color 0.15s ease-out;

    @media (max-width: ths.$break-point-mobile) {
      font-size: 14px;
    }

    &:hover {
      background-color: ths.$theme-color-primary;
      color: ths.$theme-color-bg;
    }
  }
}
