@charset "utf-8";

@use '../styles/ths';

.blog-catalog {
  padding-top: 50px;

  @media (max-width: ths.$break-point-tablet) {
    padding-top: 0;
  }

  .bottom-line {
    width: 100%;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      color: ths.$theme-color-text;
      padding: 0 0.5em;
    }

    &::before,
    &::after {
      content: '';
      height: 1px;
      background-color: ths.$theme-color-text;
      flex-grow: 1;
    }
  }
}
