@charset "utf-8";

@use '../styles/ths';

#friends {
  h1.title {
    font-weight: 100;
    font-size: 32px;
    color: ths.$theme-color-primary;
    padding: 0 15px;
    margin-top: 50px;
    margin-bottom: 20px;
    transition:
      margin-top 0.3s ease-out,
      font-size 0.3s ease-out;

    @media (max-width: ths.$break-point-tablet) {
      margin-top: 20px;
      font-size: 28px;
    }
  }

  .friends {
    display: flex;
    flex-wrap: wrap;
  }

  .friend {
    display: block;
    flex-shrink: 0;
    width: calc((100% - 20px) / 3);
    padding: 10px 15px 30px;
    transition: background-color 0.3s ease-out;

    @media (max-width: ths.$break-point-tablet) {
      width: calc((100% - 10px) / 2);
    }

    @media (max-width: ths.$break-point-mobile) {
      width: 100%;
    }

    .cover {
      width: 100%;

      img {
        display: block;
        width: 100%;
      }
    }

    .intro {
      padding: 10px 0;

      h2 {
        font-size: 26px;
        color: ths.$theme-color-primary;
        line-height: 1.5;
        transition: color 0.3s ease-out;

        @include ths.ellipsis;

        @media (max-width: 480px) {
          font-size: 24px;
        }
      }

      ul li {
        color: ths.$theme-color-text;
        transition: color 0.3s ease-out;
        font-size: 14px;
        line-height: 1.5;

        @include ths.ellipsis;

        @media (max-width: ths.$break-point-mobile) {
          font-size: 12px;
        }
      }
    }
  }
}
