@charset "utf-8";

@use '../styles/ths';

.channel-header {
  @include ths.clearfix;

  padding: 10px 15px;

  &:first-of-type {
    margin-top: 50px;

    @media (max-width: ths.$break-point-mobile) {
      margin-top: 20px;
    }
  }

  .title {
    float: left;
    color: ths.$theme-color-primary;
    font-size: 28px;
    line-height: 32px;
  }

  .more {
    float: right;
    color: ths.$theme-color-text;
    font-size: 16px;
    line-height: 32px;
  }
}

.channel-body {
  @include ths.clearfix;

  margin-bottom: 40px;

  @media (max-width: 480px) {
    margin-bottom: 20px;
  }
}

.blogs {
  @include ths.clearfix;

  .blog {
    display: block;
    width: 100%;
    padding: 15px;
    transition: background-color 0.3s ease-out;

    @media (max-width: 480px) {
      width: 100%;
    }

    .banner {
      position: relative;

      img {
        width: 100%;
      }
    }

    .info {
      padding: 10px 0;

      .title {
        color: ths.$theme-color-primary;
        font-size: 22px;
        font-weight: 700;
        line-height: 1.375;
        margin-bottom: 12px;
        word-wrap: break-word;
        transition: font-size 0.3s ease-out;

        @media (max-width: 480px) {
          font-size: 20px;
        }
      }

      .desc {
        font-size: 14px;
        line-height: 1.3;
        word-wrap: break-word;
        margin-bottom: 10px;
        color: ths.$theme-color-text;
      }

      .blog__footer {
        display: flex;

        @media (max-width: ths.$break-point-tablet) {
          flex-direction: column;
        }

        .date {
          font-size: 14px;
          color: ths.$theme-color-text;
          line-height: 1;
          position: relative;
          white-space: nowrap;
          transition: margin-bottom 0.3s ease-out;

          @media (max-width: ths.$break-point-tablet) {
            margin-bottom: 6px;
          }
        }

        .tags {
          display: flex;
          color: ths.$theme-color-text;
          line-height: 1;
          font-size: 14px;
          padding-left: 10px;
          margin-left: 10px;
          transition: font-size 0.3s ease-out;

          @media (max-width: ths.$break-point-tablet) {
            font-size: 12px;
          }

          &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            width: 1px;
            height: 12px;
            background-color: ths.$theme-color-text;

            @media (max-width: ths.$break-point-tablet) {
              content: none;
            }
          }
        }
      }
    }
  }
}

.projects {
  .project {
    display: block;
    float: left;
    width: 50%;
    padding: 15px;
    transition: background-color 0.3s ease-out;

    @media (max-width: 480px) {
      width: 100%;
    }

    .cover {
      width: 100%;

      img {
        display: block;
        width: 100%;
      }
    }

    .intro {
      padding: 10px 0;

      h2 {
        font-size: 26px;
        line-height: 1.5;
        color: ths.$theme-color-primary;
        transition: font-size 0.3s ease-out;

        @include ths.ellipsis;

        @media (max-width: 480px) {
          font-size: 20px;
        }
      }

      p {
        color: ths.$theme-color-text;
        transition: font-size 0.3s ease-out;
        font-size: 14px;
        line-height: 1.5;

        @include ths.ellipsis;

        @media (max-width: 480px) {
          font-size: 12px;
        }
      }
    }
  }
}
