@charset "utf-8";

@use '../styles/ths';

.project-catalog {
  .title {
    font-weight: 100;
    font-size: 32px;
    color: ths.$theme-color-primary;
    padding: 0 15px;
    margin-top: 50px;
    margin-bottom: 20px;
    transition:
      margin-top 0.3s ease-out,
      font-size 0.3s ease-out;

    @media (max-width: ths.$break-point-tablet) {
      margin-top: 20px;
      font-size: 28px;
    }
  }

  .project-category-title {
    font-weight: 100;
    font-size: 24px;
    color: ths.$theme-color-primary;
    padding: 0 15px;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .project-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    .project {
      display: block;
      flex-shrink: 0;
      width: calc((100% - 20px) / 3);
      padding: 15px 15px 30px;
      transition: background-color 0.3s ease-out;

      @media (max-width: ths.$break-point-tablet) {
        width: calc((100% - 10px) / 2);
      }

      @media (max-width: ths.$break-point-mobile) {
        width: 100%;
      }

      &:nth-child(even) {
        margin-right: 0;
      }

      .cover {
        width: 100%;
        border-radius: 10px;
        overflow: hidden;

        img {
          display: block;
          width: 100%;
        }
      }

      .intro {
        padding: 20px 0;

        h2 {
          font-size: 18px;
          color: ths.$theme-color-primary;
          transition: color 0.3s ease-out;
          margin-bottom: 0.5em;
          position: relative;

          @include ths.ellipsis;

          @media (max-width: 480px) {
            font-size: 18px;
          }
        }

        p {
          color: ths.$theme-color-text;
          transition: color 0.3s ease-out;
          font-size: 14px;

          @include ths.ellipsis;

          @media (max-width: 480px) {
            font-size: 12px;
          }
        }
      }

      &.draft {
        .intro h2 {
          &::before {
            content: '[Draft] ';
            color: ths.$theme-color-draft;
          }
        }
      }
    }
  }
}
