* {
	box-sizing: border-box;
	font-family: "Segoe UI", "Microsoft YaHei", Roboto, Helvetica, sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFF;
}

#channels {
	padding-left: 0;
}

#channels li {
	list-style: none;
}

#wrapper {
	width: 100%;
	height: 100%;
	padding: 20px;
}

#lunch #store-name {
	margin-top: 0;
	text-align: center;
	font-size: 32px;
}

#lunch #store-location {
	margin-top: 0;
	margin-bottom: 1em;
	text-align: center;
	font-size: 16px;
}

table {
	width: 100%;
	margin-top: 20px;
}

th {
	text-align: left;
	padding: 0.5em 1em;
}

td {
	padding: 0.75em 1em;
	color: #666;
}

table tr:nth-child(n+2) td {
	border-top: 1px solid #CCC;
}

.btn {
	display: block;
	text-align: center;
	text-decoration: none;
	border: 1px solid #000;
	padding: 0.5em;
	margin-top: 20px;
	color: #000;
	background-color: transparent;
}

.btn:hover {
	/*color: #FFF;*/
	background-color: #DDD;
}

.btn-reverse {
	color: #FFF;
	background-color: #000;
}

.btn-reverse:hover {
	background-color: #333;
}

.btn + .btn {
	margin-top: 10px;
}
