@charset "utf-8";

$theme-color-bg: #000;
$theme-color-blockquote: #121212;
$theme-color-code: #121212;
$theme-color-draft: #fc0266;

$theme-color-primary: #fff;
$theme-color-secondary: rgb(255, 255, 255, 0.72);
$theme-color-tertiary: rgba(255, 255, 255, 0.36);
$theme-color-quarternary: rgba(255, 255, 255, 0.18);

$theme-color-table-primary: #1f1f1f;
$theme-color-table-secondary: #292929;
