@charset "utf-8";

$theme-color-bg: #202124;
$theme-color-blockquote: #121212;
$theme-color-code: #121212;
$theme-color-draft: #fc0266;

$theme-color-primary: #fff;
$theme-color-text: #9e9e9e;

$theme-color-table-primary: #1f1f1f;
$theme-color-table-secondary: #292929;
