/* _mixins.scss */

@charset "utf-8";

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin shadow-grid($dir, $count, $color) {
  $all: ();

  $step: 200px;

  @for $i from 0 through $count {
    $all: append($all, if($dir == horizontal, 0 #{$step * $i}, #{$step * $i} 0) 0 0 $color, comma);
  }

  box-shadow: $all;
}
