h1, body, html {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Segoe UI", "Microsoft YaHei", "Miragino Sans GB", sans-serif;
}

html, body {
	height: 100%;
	overflow: hidden;
}

h1 {
	font-size: 3em;
	font-weight: normal;
	margin-bottom: 1em;
	color: #FFF;
}

p {
	font-size: 1.2em;
	margin:  0.5em 0 1em 0;
	color: #FFF;
}

#container, .section {
	height: 100%;
	position: relative;
	background-color: #37589D;
	box-sizing: border-box;
}

.section {
	padding: 50px 100px;
}


#pages{
	position:fixed;
	right: 10px;
	list-style: none;
	transition: all 0.1s ease-out;
}

#pages li{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #fff;
	margin: 0 0 10px 5px;
}

#pages li:hover {
	cursor: pointer;
}

#pages li.active{
	width: 14px;
	height: 14px;
	border: 2px solid #FFF;
	background: none;
	margin-left: 0;
}

#logo {
	width: 128px;
	height: 128px;
	/*float: left;*/
	margin-top: 10%;
	margin-bottom: 20px;
	background-position: 50%;
	background-size: cover;
	background-image: url(img/logo.png);
	border-radius: 5px;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

.con_left, .con_right {
	width: 50%;
	box-sizing: border-box;
	float: left;
	/*border: 1px dotted #FFF;*/
}

.con_left p, .con_right p {
	text-align: center;
}

#con_qqgroup {
	width: 200px;
	height: 200px;
	display: block;
	margin: 0 auto 20px;
}

#con_site {
	margin: 75px auto 80px;
	width: 100%;
}

.button {
	display: inline-block;
	border: 1px solid #FFF;
	box-sizing: border-box;
	padding: 1em 2em;
	width: auto;
	height: auto;
	text-align: center;
	color: #FFF;
	font-family: Segoe UI, Microsoft YaHei, Arial, Helvetica, Tahoma, Sans-serif;
	transition: all linear 0.1s;
}

.button:hover {
	cursor: pointer;
	background-color: #FFF;
	color: #37589D;
}

@media all and (max-width: 768px) {
	.section {
		padding: 30px;
	}

	h1 {
		font-size: 2em;
	}

	p {
		font-size: 0.5em;
	}

	.con_left, .con_right {
		clear: both;
		width: 100%;
	}
	
	#con_site {
		margin: 20px auto;
	}
}