h1, body, html {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Segoe UI", Roboto, "Microsoft YaHei", "Helvetica Neue", Tahoma , Arial, sans-serif;
}

html, body {
	height: 100%;
	overflow: hidden;
}

h1 {
	font-size: 3em;
	font-weight: normal;
	margin-bottom: 0.75em;
	color: #FFF;
}

p {
	font-size: 1.2em;
	margin:  0.5em 0 1em 0;
	color: #FFF;
}

#container, .section {
	height: 100%;
	position: relative;
	background-color: #37589D;
	box-sizing: border-box;
}

.section {
	padding: 50px 100px;
}

.section p a.link {
	color: #FFF;
	font-weight: bold;
	text-decoration: underline;
}

#pages{
	position:fixed;
	right: 25px;
	list-style: none;
	transition: all 0.1s ease-out;
}

#pages li{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #fff;
	margin: 0 0 10px 5px;
}

#pages li:hover {
	cursor: pointer;
}

#pages li.active{
	width: 14px;
	height: 14px;
	border: 2px solid #FFF;
	background: none;
	margin-left: 0;
}

#sec_welcome h1 {
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
}

#logo{
	display: inline-block;
	width: 128px;
	height: 128px;
	margin-bottom: 30px;
	background-position: 50%;
	background-size: cover;
	background-image: url(img/logo.png);
	border-radius: 5px;
}

#swipeUpToFlip {
	box-sizing: border-box;
	position: absolute;
	margin: 0;
	bottom: 10%;
}

img {
	max-width: 100%;
}

img.banner {
	max-height: 260px;
}

a {
	text-decoration: none;
	color: #FFF;
}

a:hover {
	text-decoration: underline;
}

.con_left, .con_right {
	box-sizing: border-box;
	width: 50%;
	float: left;
	margin-top: 80px;
}

.con_right {
	padding: 0 10px;
}

.con_left p, .con_right p {
	text-align: center;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

#scoreQuery {
	box-sizing: border-box;
	width: 100%;
	margin-top: 10px;
}

#con_qqgroup {
	width: 200px;
	height: 200px;
	display: block;
	margin: 0 auto 20px;
}

#con_qqgroup:hover {
	cursor: pointer;
}

#con_site {
	margin: 75px auto 80px;
	width: 100%;
}

#areaRate {
	margin-bottom: 10px;
}

.button {
	display: inline-block;
	border: 1px solid #FFF;
	box-sizing: border-box;
	padding: 1em 2em;
	width: auto;
	height: auto;
	text-align: center;
	color: #FFF;
	font-family: "Segoe UI", Roboto, "Microsoft YaHei", "Helvetica Neue", Tahoma , Arial, sans-serif;
	transition: all linear 0.1s;
}

.button:hover {
	cursor: pointer;
	background-color: #FFF;
	color: #37589D;
	text-decoration: none;
}

/* Tablet */
@media all and (max-width: 768px) {
	.section {
		padding: 20px 30px 20px 20px;
	}

	#logo {
		width: 64px;
		height: 64px;
		margin-bottom: 10px;
	}

	#pages{
		right: 5px;
	}

	h1 {
		font-size: 1.8em;
	}

	p {
		font-size: 1em;
	}

	.button {
		padding: 1em;
	}

	.con_left p, .con_right p {
		text-align: center;
	}

	#con_qqgroup {
		width: 100px;
		height: 100px;
		display: block;
		margin: 0 auto 10px;
	}

	#con_site {
		margin: 25px auto 35px;
		width: 100%;
	}
}

/* Phone */
@media all and (max-width: 400px) {
	.con_left, .con_right {
		clear: both;
		width: 100%;
		margin-top: 0;
	}

	#con_qqgroup {
		width: 140px;
		height: 140px;
		margin: 20px auto;
	}

	#con_site {
		margin: 50px auto 10px;
	}

	p {
		font-size: 0.8em;
	}
}

/*@media all and (orientation: landscape) {
	.con_left, .con_right {
		float: left;
		width: 50%;
	}
}*/
