@charset "utf-8";

@use '../styles/ths';

#mf-footer {
  padding: 30px;

  @media (max-width: ths.$break-point-tablet) {
    padding: 30px 15px 50px;
  }

  .copyright {
    p {
      font-size: 14px;
      line-height: 20px;
      color: ths.$theme-color-text;
      width: 100%;
      text-align: center;

      svg {
        width: 12px;
        height: 12px;
        margin-left: 4px;
        margin-right: 4px;
      }
    }
  }

  .sns {
    .links {
      display: flex;
      width: 150px;
      justify-content: space-between;
      align-items: center;

      .link {
        cursor: pointer;
        width: 20px;
        height: 20px;

        svg {
          display: block;
          width: 100%;
          height: 100%;
          fill: ths.$theme-color-text;
          transition: fill 0.3s ease-out;

          &:hover {
            fill: #fff;
          }
        }
      }
    }
  }
}
