@charset "utf-8";

@import '../styles/_common.scss';

#mf-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: $theme-color-bg;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  .mf-header-wrapper {
    width: 100%;
    max-width: $theme-max-width-lg;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    transition: max-width 0.3s ease-out;

    @media (max-width: 1280px) {
      max-width: $theme-max-width-md;
    }

    .logo {
      height: $header-height;
      display: flex;
      align-items: center;

      img {
        height: 32px;
        margin-right: 15px;
      }

      span {
        display: block;
        font-size: 20px;
        height: $header-height;
        line-height: $header-height;
        color: $theme-color-primary;
        transition:
          color .3s ease-out,
          font-size .3s ease-out;

        @media (max-width: 480px) {
          font-size: 16px;
        }

        &:hover {
          color: #fff;
        }
      }
    }

    .hamberger {
      width: 22px;
      height: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-top: 2px solid $theme-color-primary;
      border-bottom: 2px solid $theme-color-primary;
      position: relative;
      transition: border-color 0.3s ease-out;
      cursor: pointer;

      &.open {
        border-top-color: transparent;
        border-bottom-color: transparent;

        &::before {
          transform: translate(-50%, -50%) rotate(-45deg);
        }

        &::after {
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform-origin: 50% 50%;
        width: 100%;
        height: 2px;
        background-color: $theme-color-primary;
        transition: transform 0.3s ease-out;
      }
    }

    .nav-menu {
      position: fixed;
      top: $header-height;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $theme-color-bg;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      pointer-events: none;
      z-index: 10;
      transition: opacity 0.3s ease-out;

      &.open {
        opacity: 1;
        pointer-events: all;
      }

      .menus {
        flex-basis: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        .menu {
          &:not(:first-child) {
            margin-top: 15px;
          }
        }

        .menu-link {
          display: block;
          width: 180px;
          height: 40px;
          line-height: 40px;
          font-size: 16px;
          color: $theme-color-text;
          text-align: center;
          transition: background-color .3s ease-out;

          &::selection {
            background-color: transparent;
          }

          &:hover {
            color: lighten($theme-color-text, 50%);
          }

          &.active {
            color: $theme-color-primary;
            border-top: 1px solid $theme-color-primary;
            border-bottom: 1px solid $theme-color-primary;

            &:hover {
              color: lighten($theme-color-primary, 50%);
            }
          }
        }
      }
    }
  }
}

#mf-header-placeholder {
  height: $header-height;
}
