@charset "utf-8";

@import '../styles/_common.scss';

#mf-header {
  .mf-header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    background-color: $theme-color-bg;
    z-index: $mf-header-z-index;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    .mf-header-wrapper {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 30px;
      transition: max-width 0.3s ease-out;

      @media (max-width: 1280px) {
        max-width: $theme-max-width-md;
        padding: 0 15px;
      }

      .brand {
        .brand-link {
          height: $header-height;
          display: flex;
          align-items: center;

          .brand-logo {
            height: 32px;
          }

          .brand-name {
            display: block;
            font-size: 20px;
            height: $header-height;
            line-height: $header-height;
            color: $theme-color-primary;
            margin-left: 15px;
            transition:
              color 0.3s ease-out,
              font-size 0.3s ease-out;

            @media (max-width: $break-point-desktop-small) {
              display: none;
            }

            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }

  .mf-header-placeholder {
    height: $header-height;
  }
}
