@charset "utf-8";

@import '../styles/_common.scss';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: $theme-font;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: $theme-color-bg;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.scroll-lock {
  overflow: hidden;
}

.mf-content {
  width: 100%;
  max-width: $theme-max-width-lg;
  margin: 0 auto 30px;
  transition: max-width 0.3s ease-out;

  @media (max-width: $break-point-desktop-small) {
    max-width: $theme-max-width-md;
  }

  @media (max-width: $break-point-tablet) {
    max-width: 100%;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  #mf-header,
  #mf-footer {
    flex-shrink: 0;
  }

  #mf-content {
    flex-grow: 1;
  }
}
