<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="description" content="童话说，一个关于Web前端的个人技术博客，不定期发布Web前端及其相关技术的博文">
  <meta name="keywords" content="tonghuashuo,github,前端,html,css,javascript,android,童话,童话说,华心童,electron,atom,install,postinstall,github,issue">
  <title>Electron 安装出坑指南 - 博客 | 童话说</title>
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <link rel="stylesheet" href="/dist/styles/vendor.css" />
  <link rel="stylesheet" href="/dist/styles/blog.css" />

</head>
<body>

  <div id="mf-content">
    <p class='back-to-parent'><a href="/blog.html">&laquo; 回到博客列表</a></p>
    <article id="electron-install-guide">
      <h1>Electron 安装出坑指南</h1>
      <p class="publish-date"><time datetime="2017-07-06">Jul 6th 2017</time></p>
      <ul class="tags">
        <li class="tag">electron</li>
      </ul>
      <div class="banner">
        <img src="/img/blog/electron.jpg" alt="electron">
      </div>

      <h2>Electron</h2>
      <p>JS 越来越浪了，区区浏览器已经管不了这孩子了，一个没看住，就已经浪到原生客户端的地盘上去了，一边是开着 React Native 去找 iOS 和 Android 搞事情，一边又开着 Electron 想去单挑 WPF 和 Mac，甚至还准备响应“一带一路”帮帮好基友 Linux。</p>
      <p>不过浪太大，总有翻船的时候，Electron 上的坑还是比较多的，比如安装……是的，从安装开始就是坑。今天说的这个坑其实很早就遇到，不过当时一心等官方给方案，等了好久都没有结果，于是被迫自己动手。这片博文，一方面记录一下方案的细节，估摸着以后版本更新时候还会用到，到时能再翻出来看看，另一方面也给大家分享一下，虽然 Github 上挂着相关的 Issue，不过我知道大部分国内开发者其实是不会主动去看的。</p>

      <h2>Electron 的安装</h2>
      <p>Electron 通过 npm 进行安装，和其他 npm 上的包没什么两样：</p>
<pre><code class="bash">sudo npm i -g electron // Global CLI
npm i --save electron  // Project Dependency</code></pre>
      <p>理论上只要这样两行命令，剩下的都是自动的，不过就是在这里，问题来了。</p>

      <h2>入坑</h2>
      <p>大部分开发者都会遇到这样一个问题：安装 Electron，npm 命令结束，开始执行本地安装脚本，一堆输出之后卡在 <span class="code">node install.js</span>不动，过了好一会儿然后提示抛出错误。</p>
      <img class="img-block"src="../img/illustration/electron-install-guide/error-screenshot.png" alt="Error Screenshot">
      <p>该问题在 Github 上有对应的 Issue：<a target="_blank" href="https://github.com/electron/electron/issues/8339">Failed at the electron@1.4.13 postinstall script 'node install.js' #8339</a>，目前有手动解决的办法，但官方还没有给出任何的解决办法。（然而居然就这样 Close 了）</p>
      <p>一般的也就是卡在这里了，然后说好的学习 Electron 的计划就这么中断了，从入门到放弃，就这么轻松。不过既然是 JS 的问题，那么我们完全可以先去看下源码，说不定就能找到原因了呢。</p>

      <h2>出坑第一步：解决本地依赖</h2>
      <p>这是我自己探索发现的一个解决办法，对发文当天及之前的版本都是有效的，后续版本如果依然遇到该问题可以参考该方案，原理上应该是一样的，但具体细节上不保证完全一致，毕竟版本更新了。</p>
      <p>先执行常规的 npm 安装</p>
<pre><code class="bash">sudo npm i --save electron</code></pre>

      <p>当执行到<span class="code">node install.js</span>的时候（会卡在这里不动，所以放心不会错过的），按下<span class="code">Ctrl + C</span>结束掉进程。别担心，到这里为止我们需要的内容已经都拿到了，剩下的我们手动来解决。</p>
      <p>进入你项目根目录下的<span class="code">./node_modules/electron</span>目录，你就能看到前面报错的那个<span class="code">install.js</span>文件，找个文本编辑器打开看下，其实没几行代码，就做两件事：下载 Electron 的发行包（一个zip压缩包），然后解压。既然是这里面报的错，那么我就来看看代码，到底怎么回事。</p>
      <p>报错信息提示问题在第 22 行：<span class="code">throw err</span>，我们先来看一下。</p>
      <img class="img-block"src="../img/illustration/electron-install-guide/code-screenshot-01.png" alt="22行">
      <p>22 行的作用似乎是检测到已安装的版本后，直接结束进程。不清楚为什么会判断我已经安装过，但是可以肯定的是，为了验证方法的可行性，我特地把之前安装的内容彻底卸载之后重新安装的，所以这个肯定不对，于是乎再来搜一下<span class="code">throw err</span>，发现在第 46 行定义了一个<span class="code">onerror</span>函数（每个人的报错信息似乎都有些不太一样，可能和具体版本有关，Github Issue 上有看到直接提示第 46 行的），而该函数只有在第 36 行定义的<span class="code">extractFile</span>函数中用到，既然如此，那应该就是在第二步解压文件的时候出了问题。</p>
      <img class="img-block"src="../img/illustration/electron-install-guide/code-screenshot-02.png" alt="46行">
      <p>既然如此，我们就手动去解压这个文件。不过在此之前，我们还得先去下载发型包，下载发型包的过程也是在<span class="code">install.js</span>中执行的，所以之前结束进程的时候这个过程也就没跑完。（如果当时不结束进程，而是耐心地等，当看到报错信息时，发型包实际上就已经下载好在<span class="code">~/.electron</span>目录下了，可以直接拿来用。不过下载过程没有进度，不知道什么时候能完，不如自己手动去下）</p>
      <img class="img-block"src="../img/illustration/electron-install-guide/code-screenshot-03.png" alt="download">
      <p>发型包很好找，直接到 Github 上搜“electron/electron”，到 Release 面板下，下载对应平台的最新版本即可（没有特殊需求的话就下不带后缀的版本就好了），迅雷、IDM或者浏览器自带下载工具都可以，由于文件存放在 Amazon S3 的服务器，可能需要科学地使用互联网，下载速度就看人品了。</p>
      <p>下载完成后解压到项目根目录下的<span class="code">./node_modules/electron</span>目录，重命名为dist。</p>
      <p>在项目根目录下的<span class="code">./node_modules/electron</span>目录中新建一个<span class="code">path.txt</span>文件，写入内容“dist/Electron.app/Contents/MacOS/Electron”（这里以 macOS 为例，Windows 和 Linux 平台的内容略有差异，具体内容可以从前面的 install.js 文件最末尾看到）</p>
      <p>至此，本地依赖就安装完成了。在项目根目录下执行<span class="code">./node_modules/electron/dist/Electron.app/Contents/MacOS/Electron .</span>就可以运行 App 了。当然聪明的朋友肯定知道用<span class="code">package.json</span>里的<span class="code">scripts</span>字段来简化这段命令。</p>
<pre><code class="json">{
  "scripts" :{
    "start": './node_modules/electron/dist/Electron.app/Contents/MacOS/Electron .'
  }
}</code></pre>
      <p>然后就可以通过<span class="code">npm run start</span>来启动了。</p>

      <h2>出坑第二步：解决全局命令</h2>
      <p>安装完本地依赖后，其实就已经可以正常使用了，该有的功能一个不少。但是如果我们希望<span class="code">electron</span>命令能够全局使用，我们还需要全局安装一下。</p>
      <p>方法其实跟本地安装时一样的，只有两点区别：<p>
      <ul>
        <li>npm 执行全局安装<span class="code">sudo npm i -g electron</span></li>
        <li>原本在项目根目录下的操作，全部转移到 Node.js 的全局模块所在位置，如果你没有修改过的话，默认是<span class="code">/usr/local/lib/node_modules/electron</span>（不同平台具体位置可能会有差异）。</li>
      </ul>

    </article>

  </div>

  <script src="/lib/jquery.min.js"></script>
  <script src="/dist/scripts/vendor.js"></script>
  <script src="/dist/scripts/line-number.js"></script>
</body>
</html>