<h2>写在前面</h2>
<p>这次轮到循环了。其实 ES5 中就已经有好多种用于循环的方法：</p>
<ul>
  <li><span class='code'>while</span></li>
  <li><span class='code'>do-while</span></li>
  <li><span class='code'>for</span></li>
  <li><span class='code'>for-in</span></li>
  <li><span class='code'>forEach</span></li>
  <li><span class='code'>map</span></li>
</ul>
<p>那么这次 ES6 又打算在循环上搞什么花样劲？</p>

<h2>Iterator</h2>
<p>算上 ES6 新引入的数据类型，JavaScript 原生用于表示集合的数据结构就有：Array、Object、Map、Set 四种。但开发者也可以自定义由各种数据结构组成的集合。</p>
<p>Iterator 是 ES6 新引入的接口，为各种不同的数据结构提供了一种统一的访问机制。任何数据结构只要部署了 Iterator 接口，就可以执行遍历操作。ES6 为此还特意创造了<span class='code'>for...of</span>语法来遍历部署了 Iterator 接口的数据结构。</p>
<p>Iterator </p>

<h2>小结</h2>
<p>有了 Iterator，我们可以自由地定义可遍历的对象。</p>

<h2>该系列的其他文章</h2>
<p>上一篇：<a href="es6-daily-13-proxy-and-reflect.html">每天一点ES6(13)：Proxy 和 Reflect</a></p>
<p>下一篇：<a href="javascript:;">每天一点ES6(15)：Promise</a></p>
