<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="description" content="童话说，一个关于Web前端的个人技术博客，不定期发布Web前端及其相关技术的博文">
  <meta name="keywords" content="tonghuashuo,github,前端,html,css,javascript,android,童话,童话说,华心童,每天,一点,ES6,ECMAScript,regexp">
  <title>每天一点ES6(7)：数值的扩展 - 博客 | 童话说</title>
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <link rel="stylesheet" href="/dist/styles/vendor.css" />
  <link rel="stylesheet" href="/dist/styles/blog.css" />

  <style>
    th, td {
      text-align: center;
    }
  </style>

</head>
<body>

  <div id="mf-content">
    <p class='back-to-parent'><a href="/blog.html">&laquo; 回到博客列表</a></p>
    <article id="es6-daily-07-number">
      <h1>每天一点ES6(7)：数值的扩展</h1>
      <p class="publish-date"><time datetime="2016-04-07">Apr 7th 2016</time></p>
      <ul class="tags">
        <li class="tag">ecmascript</li>
        <li class="tag">2015</li>
        <li class="tag">es6</li>
        <li class="tag">javascript</li>
        <li class="tag">number</li>
      </ul>
      <div class="banner">
        <img src="/img/blog/es6daily.jpg" alt="ES6">
      </div>

      <h2>二进制和八进制表示法</h2>
      <p>ES6 提供了二进制和八进制数的新写法，分别用前缀<span class="code">0b</span>（零必）和<span class="code">0o</span>（零欧）表示。</p>
      <p>ES5 开始，严格模式下就不再允许使用前缀<span class="code">0</span>，ES6 进一步明确必须使用前缀<span class="code">0o</span>。</p>
      <p>如果要将<span class="code">0b</span>和<span class="code">0x</span>前缀的字符串数值专为十进制，可以用<span class="code">Number()</span>方法。</p>

      <h2>旧酒装进了新瓶子</h2>
      <p>ES6 的一项重要任务，就是对全局函数的整理，将一些全局函数规范化到<span class="code">String</span>、<span class="code">Number</span>、<span class="code">RegExp</span>等原始类型中。</p>

      <h3>（1）Number.isFinite()，Number.isNaN()</h3>
      <p>这两个函数是 ES6 中新增的函数，作为<span class="code">Number</span>类的方法。在 ES5 中，有两个同名的全局函数，作用其实相同，区别在于 ES5 中的这两个函数会先调用<span class="code">Number()</span>讲非数值转换为数值后再判断，而两个新的方法值对数只有小，对非数值一律返回false。</p>

      <h3>（2）Number.parseInt()，Number.parseFloat()</h3>
      <p>同样是 ES6 中新增的函数，同样作为<span class="code">Number</span>类的方法，同样在 ES5 中存在同名的全局函数，但这两个函数的作用和用法并没有改变</p>

      <h2>新增的函数</h2>
      <p>除了对原有函数的整理，ES6 自然少不了一些新加的语法糖。</p>

      <h3>Number.isInteger()</h3>
      <p>用于判断整数，需要注意的是，JavaScript 内部对整数和浮点数采用一样的存储方式，因此小数点后为0的浮点数同样会被认为是整数。</p>

      <h3>Number.EPSILON</h3>
      <p>这是一个极小的常量，设计用来平衡浮点数的计算误差，如果浮点数计算所得的误差不超过它，则认为是可接受的。</p>

<pre><code class="javascript">Number.EPSILON                  //  2.220446049250313e-16
Number.EPSILON.toFixed(20)      // '0.00000000000000022204'</code></pre>

      <h2>安全整数</h2>
      <p>JavaScript 能准确表示的整数范围为：- 2^53 ~ 2^53，超出这个范围的整数，JavaScript将无法直接表示。ES6 引入了<span class="code">Number.MAX_SAFE_INTEGER</span>和<span class="code">Number.MIN_SAFE_INTEGER</span>这两个常量，用来表示这个范围的上下限，以及<span class="code">Number.isSafeInteger()</span>来判断一个整数是否在这个范围内。</p>

<pre><code class="javascript">Number.MAX_SAFE_INTEGER ===  9007199254740991;             //   2^53 - 1
Number.MIN_SAFE_INTEGER === -9007199254740991;             // -(2^53 - 1)
Number.MIN_SAFE_INTEGER === -Number.MAX_SAFE_INTEGER;      // true</code></pre>

      <p>注意，在用<span class="code">Number.isSafeInteger()</span>判断运算时，要对参与运算的每个值都进行验证，光验证计算结果是不足以说明问题的，因为超过精度范围的数并不是不存在，只是超出部分被截断，只保留精度范围的上下限。</p>

      <h2>Math对象的扩展</h2>
      <p>ES6 在<span class="code">Math</span>对象上新增了17个静态方法：</p>

      <h3>Math.trunc()</h3>
      <p>取整数部分，小数部分直接截断不舍入，相当于对负数执行<span class="code">ceil()</span>，对正数执行<span class="code">floor()</span>。非数值会先经过<span class="code">Number()</span>转换，空值和无法截取整数的值会返回<span class="code">NaN</span>。</p>

      <h3>Math.sign()</h3>
      <p>返回一个数的正负，正数返回1，负数返回-1，正负0返回自身，其他值返回<span class="code">NaN</span>。</p>

      <h3>Math.cbrt()</h3>
      <p>开立方根。</p>

      <h3>Math.clz32()</h3>
      <p>JavaScript 整数采用32位二进制形式表示，该函数返回一个数的32位无符号整数形式有多少个前导零。对于小数，<span class="code">Math.clz32()</span>只考虑去整数部分。clz是Count Leading Zero的缩写。</p>

<pre><code class="javascript">Math.clz32(0) // 32
Math.clz32(1) // 31
Math.clz32(1000) // 22，1000的二进制为0...01111101000，前22位都是0</code></pre>

      <p><span class="code">Math.clz32()</span>和左移运算符<span class="code">&lt;&lt;</span>密切相关，后者会直接影响前者的结果。</p>

      <h3>Math.imul()</h3>
      <p>返回两个数以32位带符号整数形式相乘的结果，返回的也是一个32位的带符号整数。通常情况下和一般的乘法没有区别，这个函数的意义在于计算结果超过 2^53 时可以正确保留后 32 位的值。</p>

<pre><code class="javascript">(0x7fffffff * 0x7fffffff)|0       // 0
Math.imul(0x7fffffff, 0x7fffffff) // 1</code></pre>

      <h3>Math.fround()</h3>
      <p>返回一个数的单精度浮点数形式。对整数而言没有任何不同，主要影响那些无法用64个二进制位精确表示的小数，函数返回最接近这个小数的单精度浮点数。</p>

<pre><code class="javascript">Math.fround(0);     // 0
Math.fround(1);     // 1
Math.fround(1.337); // 1.3370000123977661
Math.fround(1.5);   // 1.5
Math.fround(NaN);   // NaN</code></pre>

      <h3>Math.hypot()</h3>
      <p>返回所有参数的平方和的平方根。</p>

<pre><code class="javascript">Math.hypot(3, 4);        // 5
Math.hypot(3, 4, 5);     // 7.0710678118654755</code></pre>

      <h3>Math.expm1()</h3>
      <p><span class="code">math.expm1(x)</span>返回e^x-1，即<span class="code">Math.exp(x) - 1</span></p>
<pre><code class="jaavscript">Math.expm1(-1); // -0.6321205588285577
Math.expm1(0);  // 0
Math.expm1(1);  // 1.718281828459045</code></pre>

      <h3>Math.log1p()</h3>
      <p><span class="code">Math.log1p(x)</span>返回ln(1+x)，即<span class="code">Math.log(1+x)</span>。如果 x<-1，返回<span class="code">NaN</span>。</p>
<pre><code class="jaavscript">Math.expm1(-1); // -0.6321205588285577
Math.expm1(0);  // 0
Math.expm1(1);  // 1.718281828459045</code></pre>

      <h3>Math.log10()</h3>
      <p><span class="code">Math.log10(x)</span>返回以10为底的x的对数，即<span class="code">Math.log(x) / Math.LN10</span>。如果 x<0，返回<span class="code">NaN</span>。</p>
<pre><code class="jaavscript">Math.expm1(-1); // -0.6321205588285577
Math.expm1(0);  // 0
Math.expm1(1);  // 1.718281828459045</code></pre>

      <h3>Math.log2()</h3>
      <p><span class="code">Math.log2(x)</span>返回以2为底的x的对数，即<span class="code">Math.log(x) / Math.LN2</span>。如果 x<0，返回<span class="code">NaN</span>。</p>
<pre><code class="jaavscript">Math.expm1(-1); // -0.6321205588285577
Math.expm1(0);  // 0
Math.expm1(1);  // 1.718281828459045</code></pre>

      <h3>双曲函数</h3>
      <div class="table-wrapper">
        <table cellspacing="0">
          <thead>
            <tr>
              <th>函数名</th>
              <th>作用</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Math.sinh(x)</td>
              <td>双曲正切</td>
            </tr>
            <tr>
              <td>Math.cosh(x)</td>
              <td>双曲余弦</td>
            </tr>
            <tr>
              <td>Math.tanh(x)</td>
              <td>双曲正切</td>
            </tr>
            <tr>
              <td>Math.asinh(x)</td>
              <td>反双曲正弦</td>
            </tr>
            <tr>
              <td>Math.acosh(x)</td>
              <td>反双曲余弦</td>
            </tr>
            <tr>
              <td>Math.atanh(x)</td>
              <td>反双曲正切</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h3>指数运算符号**</h3>
      <p>这是一个 ES7 打算引入的运算符<span class="code">**</span>，可以和等号连用构成<span class="code">**=</span>。目前 Babel 已经支持 </p>

<pre><code class="javascript">2 ** 3;   // 8

let a=2;
a **= 3;  // 8</code></pre>

      <h2>该系列的其他文章</h2>
      <p>上一篇：<a href="es6-daily-06-regexp.html">每天一点ES6(6)：正则的扩展</a></p>
      <p>下一篇：<a href="es6-daily-08-array.html">每天一点ES6(8)：数组的扩展</a></p>

    </article>

  </div>

  <script src="/lib/jquery.min.js"></script>
  <script src="/dist/scripts/vendor.js"></script>
  <script src="/dist/scripts/line-number.js"></script>
</body>
</html>