div.post {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	background-color: #2B2B2B;
	padding: 20px;
}

textarea {
	max-width: 100%;
	min-width: 100%;
	max-height: 10em;
	min-height: 5em;
	margin-bottom: 10px;
}

div.qalist {
	margin-top: 20px;
	width: 100%;
	height: auto;
	padding: 0;
}

.msg {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	background-color: #2B2B2B;
	padding: 20px;
	margin-bottom: 20px;
}

.msg .profile {
	margin-bottom: 0.5em;
}

.msg .profile .name {
	color: #6E6E6E;
	font-size: 1.5em;
	margin-right: 0.5em;
}

.msg .profile .time {
	color: #6E6E6E;
	font-size: 1em;
}

.msg .question {
	color: #FFF;
	margin-bottom: 0;
}

.divider {
	border: 1px solid #6E6E6E;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 20px;
}