html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: #1C1C1C;
}

div.nav {
	height: 100%;
	position: fixed;
	background-color: #2B2B2B;
	width: 160px;
	overflow: hidden;
	color: #9F9F9F;
	font-family: Segoe UI, Microsoft YaHei, Arial, Helvetica, Tahoma, Sans-serif;
	transition: all linear 0.2s;
}

div.content {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	min-height: 100%;
	float: left;
	padding: 20px 20px 20px 180px;
	font-family: Segoe UI, Microsoft YaHei, Arial, Helvetica, Tahoma, Sans-serif;
	transition: all linear 0.2s;
}

a.profile.font {
	position: absolute;
	bottom: 50px;
	left: 20px;
	color: #9F9F9F;
}

a.profile.icon {
	position: absolute;
	bottom: 63px;
	left: 20px;
	color: #9F9F9F;
}

a.logout {
	position: absolute;
	bottom: 20px;
	left: 20px;
	color: #9F9F9F;
}

h2, p, label {
	color: #AAA;
}

h2 {
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}

p {
	padding-top: 0;
	margin-top: 0;
}

a {
	color: #666;
	text-decoration: none;
}

a.active {
	color: #FFF;
}

ul:after {
	content:"";
	display: block;
	clear: both;
}

li {
	list-style: none;
}

ul.subnav li {
	float: left;
}

ul {
	padding-left: 0;
	margin-top: 0;
}

div.nav ul {
	padding-top: 20px;
}

div.nav ul li {
	height: 2em;
	line-height: 2em;
	padding-left: 20px;
}

div.nav ul.font {
	display: block;
}

div.nav ul.icon {
	padding-left: 5px;
	display: none;
}

div.nav ul.icon li {
	padding-left: 0;
	margin-bottom: 20px;
}

div.nav ul.icon a:first-child li {
	background-image: url(../img/icon_info.png);
	width: 32px;
	height: 23px;
}

div.nav ul.icon a:nth-child(2) li {
	background-image: url(../img/icon_file.png);
	width: 32px;
	height: 23px;
}

div.nav ul.icon a:nth-child(3) li {
	background-image: url(../img/icon_discuss.png);
	width: 32px;
	height: 23px;
}

div.nav ul.icon a:last-child li {
	background-image: url(../img/icon_notification.png);
	width: 32px;
	height: 23px;
}

div.nav ul.icon a:first-child.active li {
	background-image: url(../img/icon_info_active.png);
	width: 32px;
	height: 23px;
}

div.nav ul.icon a:nth-child(2).active li {
	background-image: url(../img/icon_file_active.png);
	width: 32px;
	height: 23px;
}

div.nav ul.icon a:nth-child(3).active li {
	background-image: url(../img/icon_discuss_active.png);
	width: 32px;
	height: 23px;
}

div.nav ul.icon a:last-child.active li {
	background-image: url(../img/icon_notification_active.png);
	width: 32px;
	height: 23px;
}

div.nav>a.font {
	display: block;
}

div.nav>a.icon.profile {
	background-image: url(../img/icon_profile.png);
	width: 32px;
	height: 23px;
	display: none;
	left: 5px;
}

div.nav>a.profile.font.active { 
	color: #FFF;
}

div.nav>a.profile.icon.active {
	background-image: url(../img/icon_profile_active.png);
	width: 32px;
	height: 23px;
	display: none;
	left: 5px;
}

div.nav>a.icon.logout {
	background-image: url(../img/icon_logout.png);
	width: 32px;
	height: 23px;
	display: none;
	left: 5px;
}

a.logout:hover {
	text-decoration: underline;
}

ul.subnav {
	padding-top: 0;
	margin-bottom: 30px;
}

ul.subnav a {
	font-size: 3em;
}

ul.subnav li {
	margin-right: 0.5em;
}

@media all and (max-width: 640px) {

	div.nav {
		width: 40px;
	}

	div.content {
		padding-left: 60px;
	}

	div.nav ul.font, div.nav>a.font {
		display: none;
	}

	div.nav ul.icon, 
	div.nav>a.icon.profile, 
	div.nav>a.icon.profile.active, 
	div.nav>a.icon.logout {
		display: block;
	}
}