html,body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #1C1C1C;
}

div.wrapper {
	width: 400px;
	height: 100%;
	margin: 100px auto;
	padding: 20px;
}

h1 {
	text-align: center;
	margin: 0 0 1em 0;
	color: #6E6E6E;
	font-family: Segoe UI, Microsoft YaHei, Arial, Helvetica, Tahoma, Sans-serif;
	font-size: 1.8em;
}

input {
	width: 100%;
	height: 2em;
	margin-bottom: 1em;
	border: none;
	border-radius: 1em;
	outline: none;
	font-size: 1.2em;
	box-sizing: border-box;
}

input[type="text"], input[type="password"] {
	padding-left: 1em;
	background-color: #2B2B2B;
	border: 2px solid #2B2B2B;
	color: #FFF;
	font-family: Segoe UI, Arial, Helvetica, Tahoma, Sans-serif;
	transition: border linear 0.2s;
}

input[type="text"]:focus, input[type="password"]:focus {
	border: 2px solid #CCC;
}

input[type="submit"] {
	background-color: #6E6E6E;
	color: #1C1C1C;
}

input[type="submit"]:hover {
	cursor: pointer;
}

@media all and (max-width: 540px) {
	div.wrapper {
		width: 100%;
		box-sizing: border-box;
		/*padding: 0;*/
	}

	input {
		box-sizing: border-box;
		width: 100%;
	}
}