.notificationlist {
	box-sizing: border-box;
	width: 100%;
	height: auto;
}

.notification {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	background-color: #2B2B2B;
	padding: 20px;
	margin-bottom: 20px;
	position: relative;
}

.notification p {
	margin-bottom: 0;
	padding-right: 30px;
}

.notification a {
	color: #FFF;
}

.notification a.dismiss {
	position: absolute;
	right: 25px;
	top: 20px;
	padding: 0;
	margin: 0;
}