.button {
	display: inline-block;
	border: 1px solid #FFF;
	padding: 0.4em 0.8em;
	width: auto;
	height: auto;
	color: #FFF;
	font-family: Segoe UI, Microsoft YaHei, Arial, Helvetica, Tahoma, Sans-serif;
	transition: all linear 0.1s;
}

.button:hover {
	cursor: pointer;
	background-color: #FFF;
	color: #1C1C1C;
}

@media all and (max-width: 720px) {
	.button {
		font-size: 0.8em;
		padding: 0.2em 0.4em;
	}
}

@media all and (max-width: 540px) {
	.button {
		font-size: 0.4em;
		padding: 0.2em 0.4em;
	}
}
