@charset "utf-8";

@use '../../styles/ths';
@use 'sass:color';

.result-item {
  position: relative;
  background-color: color.adjust(ths.$theme-color-bg, $lightness: 5%);
  border-radius: 16px;
  transition: background-color 0.3s ease-out;

  &:not(:first-of-type) {
    margin-top: 15px;
  }

  &.current {
    background-color: color.adjust(ths.$theme-color-bg, $lightness: 20%);
  }

  .result-item-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    color: ths.$theme-color-secondary;

    p {
      width: 100%;
    }

    .highlight {
      color: ths.$theme-color-primary;
      background-color: color.change(ths.$theme-color-secondary, $alpha: 0.2);
      font-weight: 700;
      line-height: inherit;
      display: inline-flex;
    }

    .title {
      color: ths.$theme-color-secondary;
      font-size: 18px;
      line-height: 26px;
    }

    .desc {
      font-size: 12px;
      line-height: 20px;
      margin-top: 10px;
      @include ths.ellipsis();
    }
  }
}
