@charset "utf-8";

@import '../../styles/_common.scss';

.search-input {
  display: flex;
  align-items: center;
  height: 100%;

  & &__icon {
    flex-shrink: 0;
    width: $search-bar-height;
    height: $search-bar-height;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 14px;
      height: 14px;
      fill: lighten($theme-color-bg, 20%);
    }
  }

  & &__input {
    height: 100%;
    flex-grow: 1;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 14px;
    color: #fff;

    &::placeholder {
      color: lighten($theme-color-bg, 20%);
    }
  }
}
