@charset "utf-8";

@import '../../styles/_common.scss';

.result-item {
  position: relative;
  background-color: lighten($theme-color-bg, 5%);
  border-radius: 4px;
  transition: background-color 0.3s ease-out;

  &:not(:first-of-type) {
    margin-top: 15px;
  }

  &.current {
    background-color: lighten($theme-color-bg, 20%);
  }

  .result-item-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    color: $theme-color-text;

    p {
      width: 100%;
    }

    .highlight {
      color: $theme-color-draft;
    }

    .title {
      color: $theme-color-primary;
      font-size: 18px;
    }

    .date,
    .duration,
    .desc,
    .excerpt {
      font-size: 12px;
      margin-top: 10px;

      @include ellipsis();
    }
  }
}
