@charset "utf-8";

@import '../../styles/_common.scss';

.search-result {
  position: fixed;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $theme-color-bg;
  z-index: $search-z-index;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &.open {
    opacity: 1;
    pointer-events: all;
  }

  .result-container {
    width: 100%;
    max-width: 480px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 15px;

    @media (max-width: $break-point-desktop-small) {
      max-width: 350px;
    }

    .result-list {
      width: 100%;
      height: 100%;
      overflow-y: auto;

      &::-webkit-scrollbar-track {
        display: none;
      }

      .result-category {
        .category-header {
          padding: 15px;

          .category-title {
            color: $theme-color-text;
          }
        }
      }
    }

    .placeholder,
    .no-result {
      color: $theme-color-text;
      width: 100%;
      text-align: center;
    }
  }
}
