@charset "utf-8";

@use '../../styles/ths';
@use 'sass:color';

.search-input {
  display: flex;
  align-items: center;
  width: 100%;
  height: ths.$search-bar-height;
  border-radius: ths.$search-bar-height / 2;
  background-color: color.adjust(ths.$theme-color-bg, $lightness: 5%);
  padding-right: 15px;

  & &__icon {
    flex-shrink: 0;
    width: ths.$search-bar-height;
    height: ths.$search-bar-height;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 14px;
      height: 14px;
      fill: color.adjust(ths.$theme-color-bg, $lightness: 20%);
    }
  }

  & &__input {
    height: 100%;
    flex-grow: 1;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 14px;
    color: #fff;
    min-width: 0;

    &::placeholder {
      color: color.change(ths.$theme-color-text, $alpha: 0.3);
    }
  }

  .btn-cancel {
    flex-shrink: 0;
    padding-left: 10px;
    font-size: 14px;
    color: ths.$theme-color-text;
    cursor: pointer;
  }
}
