<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="description" content="童话说，一个关于Web前端的个人技术博客，不定期发布Web前端及其相关技术的博文">
<meta name="keywords" content="tonghuashuo,github,前端,html,css,javascript,android,童话,童话说,华心童,washington,hua" />
<title>朋友 | 童话说</title>
<link rel="stylesheet" href="/dist/styles/vendor.css" />
<link rel="stylesheet" href="/dist/styles/friend.css" />
</head>
<body>
<div id="mf-content">
  <h1 class="title">未来，就在这里</h1>

  <div class="friends">
    <a class="friend" id="lucode" target="_blank" href="http://www.lucode.net">
      <div class="cover fix-ratio ratio-16-9">
        <img src="/img/friend/lucode.jpg" alt="LuCode">
      </div>
      <div class="intro">
        <h2>LuCode.net</h2>
        <ul>
          <li>CodeSun，中科大研究生</li>
          <li>主攻编译技术、形式化验证</li>
          <li>服务器资深玩家</li>
        </ul>
      </div>
    </a>

    <a class="friend" id="infinitescript" target="_blank" href="https://infinitescript.com/">
      <div class="cover fix-ratio ratio-16-9">
        <img src="/img/friend/infinitescript.jpg" alt="Infinite Script">
      </div>
      <div class="intro">
        <h2>Infinite Script</h2>
        <ul>
          <li>Haozhe Xie，哈工大博士</li>
          <li>主攻计算机视觉、机器学习</li>
          <li>Github 老司机</li>
        </ul>
      </div>
    </a>
  </div>

</div>
<script src="/lib/jquery.min.js"></script>
<script src="/dist/scripts/vendor.js"></script>
</body>
</html>